## Monotonic Binning LN Auto V2

In [2]:
!pip install xgboost

Collecting xgboost
  Using cached xgboost-2.0.3-py3-none-manylinux2014_x86_64.whl.metadata (2.0 kB)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from xgboost) (1.26.2)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from xgboost) (1.11.4)
Using cached xgboost-2.0.3-py3-none-manylinux2014_x86_64.whl (297.1 MB)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [3]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import json
import logging
import xgboost as xgb
import ast
import itertools
import scipy.stats as ss
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import chi2
import os
import sys

pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
pd.set_option('display.max_colwidth', None)

In [4]:
sys.path.append('/root/Unified_LN_V2/')
from Utilities import *

In [5]:
Train = pd.read_csv('/root/Unified_LN_V2/LN_Auto_V2/Data/2_LN_Auto_V2_Train_Funded_Data_250324.csv')
Test = pd.read_csv('/root/Unified_LN_V2/LN_Auto_V2/Data/2_LN_Auto_V2_Test_Funded_Data_250324.csv')
Oot= pd.read_csv('/root/Unified_LN_V2/LN_Auto_V2/Data/2_LN_Auto_V2_Oot_Funded_Data_250324.csv')
TTD= pd.read_csv('/root/Unified_LN_V2/LN_Auto_V2/Data/2_LN_Auto_V2_TTD_Data_250324.csv')
# TTD_Oot= pd.read_csv('/root/Unified_LN_V2/LN_Auto_V2/Data/1_LN_Auto_V2_OOT_Data_220324.csv')

Train.shape, Test.shape, Oot.shape, TTD.shape#, TTD_Oot.shape

((146855, 347), (62938, 347), (37121, 345), (700580, 345))

In [6]:
req_cols= ['assetpropevercount', 'sourcenonderogcount06month', 'addronfilecount', 'addrinputcountyratio', 'assetpropnewestsaleprice', 'addrcurrenttaxvalue', 'addrinputavmvalue', 'addrinputavmvalue60month', 'addrinputlastsaleprice', 'addrinputtaxmarketvalue', 'sourcecredheadertimeoldest', 'addrinputphonecount', 'assetpropcurrenttaxtotal', 'addrcurrentavmvalue', 'assetproppurchasetimeoldest', 'addrpreviouslengthofres', 'addrinputlengthofres', 'addrcurrenttaxmarketvalue', 'addrprevioustimenewest', 'addrcurrenttractratio', 'sourcenonderogcount12month', 'assetpropcurrentcount', 'addrinputsubjectcount', 'sourcenonderogcount', 'addrinputtaxvalue', 'assetpropeversoldcount', 'businessassociationtimeoldest', 'addrinputtractratio', 'derogtimenewest', 'addrchangecount24month', 'addrinputtimelastsale', 'educationinstitutionprivate', 'addrinputblockratio', 'businesstitleleadership', 'addrcurrentlengthofres', 'addrcurrentavmratio12monthprior', 'addrcurrentblockratio', 'derogcount', 'profliccount', 'addrinputavmratio60monthprior', 'addrcurrentcountyratio', 'assetpropsaletimeoldest', 'subjectrecordtimeoldest', 'addrcurrenttimenewest', 'proflictypecategory', 'criminalnonfelonytimenewest', 'lienjudgmentdollartotal', 'addrcurrentlastsalesprice', 'addrinputtimenewest', 'evictiontimenewest', 'bankruptcycount', 'addrcurrenttimelastsale', 'addrinputtimeoldest', 'addrlastmovetaxratiodiff', 'criminalnonfelonycount', 'sourcenonderogcount03month', 'addrchangecount03month', 'addrchangecount06month', 'addrchangecount12month', 'addrchangecount60month', 'addrcurrentavmratio60monthprior', 'addrcurrentavmvalue12month', 'addrcurrentavmvalue60month', 'addrcurrentcorrectional', 'addrcurrentdeedmailing', 'addrcurrentphoneservice', 'addrcurrentsubjectowned', 'addrcurrenttimeoldest', 'addrinputavmratio12monthprior', 'addrinputavmvalue12month', 'addrinputdeedmailing', 'addrinputphoneservice', 'addrinputproblems', 'addrinputsubjectowned', 'addrlastmoveecontrajectory', 'addronfilecollege', 'addronfilecorrectional', 'addronfilehighrisk', 'addrpreviouscorrectional', 'addrprevioussubjectowned', 'addrprevioustimeoldest', 'alertregulatorycondition', 'assetownership', 'assetpersonal', 'assetpersonalcount', 'assetprop', 'assetpropnewestmortgagetype', 'assetproppurchasecount12month', 'assetproppurchasetimenewest', 'assetpropsalepurchaseratio', 'assetpropsaletimenewest', 'assetpropsoldcount12month', 'bankruptcychapter', 'bankruptcycount24month', 'bankruptcydismissed24month', 'bankruptcystatus', 'bankruptcytimenewest', 'businessassociation', 'criminalfelonycount', 'criminalfelonycount12month', 'criminalfelonytimenewest', 'criminalnonfelonycount12month', 'derogcount12month', 'educationattendance', 'educationevidence', 'educationinstitutionrating', 'educationprogramattended', 'evictioncount', 'evictioncount12month', 'inquiryauto12month', 'inquirybanking12month', 'inquirycollections12month', 'inquirynonshortterm12month', 'inquiryshortterm12month', 'inquirytelcom12month', 'lienjudgmentcount', 'lienjudgmentcount12month', 'lienjudgmentcourtcount', 'lienjudgmentforeclosurecount', 'lienjudgmentothercount', 'lienjudgmentsmallclaimscount', 'lienjudgmenttaxcount', 'lienjudgmenttimenewest', 'shorttermloanrequest', 'shorttermloanrequest12month', 'shorttermloanrequest24month', 'sourcecredheadertimenewest', 'sourcevoterregistration', 'subjectnewestrecord12month', 'subjectrecordtimenewest']
len(req_cols)

130

In [7]:
all_cols= ['unique_id', 'client', 'app_date', 'approve_flag', 'funded_flag', 'fico_pb', 'fico_cb', 'bad_flag', 'product', 'auto_score', 'bankcard_score', 'Race', 'Gender', 'age_cuts'] + req_cols
len(all_cols)

144

In [8]:
Train[all_cols].head()

,unique_id,client,app_date,approve_flag,funded_flag,fico_pb,fico_cb,bad_flag,product,auto_score,bankcard_score,Race,Gender,age_cuts,assetpropevercount,sourcenonderogcount06month,addronfilecount,addrinputcountyratio,assetpropnewestsaleprice,addrcurrenttaxvalue,addrinputavmvalue,addrinputavmvalue60month,addrinputlastsaleprice,addrinputtaxmarketvalue,sourcecredheadertimeoldest,addrinputphonecount,assetpropcurrenttaxtotal,addrcurrentavmvalue,assetproppurchasetimeoldest,addrpreviouslengthofres,addrinputlengthofres,addrcurrenttaxmarketvalue,addrprevioustimenewest,addrcurrenttractratio,sourcenonderogcount12month,assetpropcurrentcount,addrinputsubjectcount,sourcenonderogcount,addrinputtaxvalue,assetpropeversoldcount,businessassociationtimeoldest,addrinputtractratio,derogtimenewest,addrchangecount24month,addrinputtimelastsale,educationinstitutionprivate,addrinputblockratio,businesstitleleadership,addrcurrentlengthofres,addrcurrentavmratio12monthprior,addrcurrentblockratio,derogcount,profliccount,addrinputavmratio60monthprior,addrcurrentcountyratio,assetpropsaletimeoldest,subjectrecordtimeoldest,addrcurrenttimenewest,proflictypecategory,criminalnonfelonytimenewest,lienjudgmentdollartotal,addrcurrentlastsalesprice,addrinputtimenewest,evictiontimenewest,bankruptcycount,addrcurrenttimelastsale,addrinputtimeoldest,addrlastmovetaxratiodiff,criminalnonfelonycount,sourcenonderogcount03month,addrchangecount03month,addrchangecount06month,addrchangecount12month,addrchangecount60month,addrcurrentavmratio60monthprior,addrcurrentavmvalue12month,addrcurrentavmvalue60month,addrcurrentcorrectional,addrcurrentdeedmailing,addrcurrentphoneservice,addrcurrentsubjectowned,addrcurrenttimeoldest,addrinputavmratio12monthprior,addrinputavmvalue12month,addrinputdeedmailing,addrinputphoneservice,addrinputproblems,addrinputsubjectowned,addrlastmoveecontrajectory,addronfilecollege,addronfilecorrectional,addronfilehighrisk,addrpreviouscorrectional,addrprevioussubjectowned,addrprevioustimeoldest,alertregulatorycondition,assetownership,assetpersonal,assetpersonalcount,assetprop,assetpropnewestmortgagetype,assetproppurchasecount12month,assetproppurchasetimenewest,assetpropsalepurchaseratio,assetpropsaletimenewest,assetpropsoldcount12month,bankruptcychapter,bankruptcycount24month,bankruptcydismissed24month,bankruptcystatus,bankruptcytimenewest,businessassociation,criminalfelonycount,criminalfelonycount12month,criminalfelonytimenewest,criminalnonfelonycount12month,derogcount12month,educationattendance,educationevidence,educationinstitutionrating,educationprogramattended,evictioncount,evictioncount12month,inquiryauto12month,inquirybanking12month,inquirycollections12month,inquirynonshortterm12month,inquiryshortterm12month,inquirytelcom12month,lienjudgmentcount,lienjudgmentcount12month,lienjudgmentcourtcount,lienjudgmentforeclosurecount,lienjudgmentothercount,lienjudgmentsmallclaimscount,lienjudgmenttaxcount,lienjudgmenttimenewest,shorttermloanrequest,shorttermloanrequest12month,shorttermloanrequest24month,sourcecredheadertimenewest,sourcevoterregistration,subjectnewestrecord12month,subjectrecordtimenewest
0,319468,Tower,2017-04-13,1.0,1.0,857.0,NaN,0.0,Auto,777.0,789.0,white,M,Age 62 and over,1.0,0.0,0.0,0.95,-1.0,0.0,298561.0,234654.0,145000.0,299000.0,598.0,1.0,279533.0,77526.0,-1.0,1.0,-1.0,0.0,598.0,1.11,0.0,1.0,4.0,1.0,279533.0,0.0,-1.0,0.93,-1.0,0.0,-1.0,-1.0,1.03,-1.0,1.0,1.19,1.17,0.0,0.0,1.27,0.62,-1.0,598.0,411.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.52,64929.0,22000.0,0.0,0.0,1.0,0.0,411.0,1.06,282249.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,598.0,1.0,1.0,0.0,0.0,1.0,-1.0,0.0,-1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,411.0,0.0,0.0,411.0
1,2018-06-21 11:01|521-72-3097,GESA,2018-06-21,1.0,1.0,711.0,NaN,0.0,Auto,691.0,793.0,white,F,Age below 62,2.0,2.0,2.0,0.79,-1.0,0.0,373566.0,288603.0,284820.0,290530.0,43.0,1.0,290530.0,92707.0,42.0,177.0,177.0,0.0,1.0,0.20,2.0,2.0,0.0,2.0,290530.0,0.0,42.0,0.79,-1.0,0.0,42.0,-1.0,0.75,2.0,42.0,1.14,0.19,0.0,0.0,1.29,0.20,-1.0,178.0,1.0,-1.0,-1.0,0.0,-1.0,1.0,-1.0,0.0,-1.0,178.0,-1.0,0.0,2.0,0.0,0.0,0.0,1.0,1.43,81499.0,64941.0,0.0,0.0,0.0,0.0,43.0,1.25,299582.0,0.0,0.0,0.0,1.0,9.0,0.0,0.0,0.0,0.0,3.0,178.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,42.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
2,24467VL155102019-02-25,Hawaii,2019-02-25,1.0,1.0,691.0,NaN,0.0,Auto,703.0,763.0,white,F,Age below 62,3.0,2.0,4.0,1.71,-1.0,0.0,565000.0,-1.0,-1.0,0.0,394.0,1.0,-1.0,402853.0,179.0,19.0,-1.0,0.0,128.0,1.02,2.0,0.0,6.0,2.0,0.0,3.0,-1.0,0.98,-1.0,0.0,-1.0,-1.0,0.96,-1.0,67.0,1.06,0.86,0.0,0.0,-1.00,1.22,-1.0,394.0,116.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,0.0,2.0,0.0,0.0,0.0,0.0,-1.00,380158.0,-1.0,0.0,0.0,0.0,0.0,183.0,0.56,1000000.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,147.0,1.0,0.0,0.0,0.0,0.0,-1.0,0.0,149.0,-1.0,59.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
3,654114,Tower,2021-03-10,1.0,1.0,818.0,NaN,0.0,Auto,767.0,807.0,white,M,Age 62 and over,3.0,2.0,5.0,0.67,236000.0,0.0,224965.0,188461.0,-1.0,0.0,399.0,17.0,122360.0,227858.0,255.0,398.0,27.0,0.0,1.0,0.64,2.0,1.0,-1.0,4.0,0.0,2.0,-1.0,0.63,-1.0,0.0,-1.0,-1.0,0.74,1.0,27.0,1.04,0.75,0.0,0.0,1.19,0.68,-1.0,399.0,1.0,-1.0,-1.0,0.0,-1.0,1.0,-1.0,0.0,-1.0,28.0,-1.0,0.0,2.0,0.0,0.0,0.0,2.0,1.33,218416.0,170748.0,0.0,0.0,0.0,0.0,28.0,0.99,226311.0,-1.0,0.0,0.0,-1.0,12.0,0.0,0.0,0.0,0.0,1.0,399.0,1.0,1.0,0.0,0.0,1.0,-1.0,0.0,255.0,0.0,96.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
4,2018-01-11 15:37|534-96-0329,GESA,2018-01-11,1.0,1.0,680.0,NaN,0.0,Auto,742.0,764.0,missing,F,Age below 62,2.0,1.0,8.0,1.30,273000.0,0.0,338342.0,247352.0,-1.0,0.0,303.0,0.0,-1.0,338342.0,182.0,77.0,41.0,0.0,1.0,1.08,1.0,0.0,0.0,3.0,0.0,2.0,-1.0,1.08,33.0,0.0,-1.0,1.0,0.97,-1.0,41.0,1.16,0.97,1.0,0.0,1.37,1.30,64.0,303.0,1.0,-1.0,-1.0,0.0,-1.0,1.0,-1.0,1.0,-1.0,42.0,-1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.37,291719.0,247352.0,0.0,0.0,0.0,0.0,42.0,1.16,291719.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,1.0,78.0,2.0,0.0,0.0,0.0,0.0,-1.0,0.0,128.0,0.0,64.0,0.0,1.0,0.0,0.0,1.0,33.0,0.0,0.0,0.0,-1.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0

In [9]:
Train['Race'].value_counts(dropna= False), Train['Gender'].value_counts(dropna= False), Train['age_cuts'].value_counts(dropna= False)

(Race
 white       84089
 missing     41794
 black       10121
 hispanic     8799
 api          1946
 aian           80
 multiple       25
 others          1
 Name: count, dtype: int64,
 Gender
 M    84821
 F    52562
 I     9472
 Name: count, dtype: int64,
 age_cuts
 Age below 62       128150
 Age 62 and over     18705
 Name: count, dtype: int64)

In [10]:
Test['Race'].value_counts(dropna= False), Test['Gender'].value_counts(dropna= False), Test['age_cuts'].value_counts(dropna= False)

(Race
 white       36181
 missing     17944
 black        4320
 hispanic     3650
 api           780
 aian           51
 multiple       12
 Name: count, dtype: int64,
 Gender
 M    36352
 F    22464
 I     4122
 Name: count, dtype: int64,
 age_cuts
 Age below 62       54752
 Age 62 and over     8186
 Name: count, dtype: int64)

In [11]:
Oot['Race'].value_counts(dropna= False), Oot['Gender'].value_counts(dropna= False), Oot['age_cuts'].value_counts(dropna= False)

(Race
 white       21280
 missing     10620
 black        2593
 hispanic     2109
 api           490
 aian           20
 multiple        9
 Name: count, dtype: int64,
 Gender
 M    21364
 F    13281
 I     2476
 Name: count, dtype: int64,
 age_cuts
 Age below 62       32475
 Age 62 and over     4646
 Name: count, dtype: int64)

In [12]:
TTD['Race'].value_counts(dropna= False), TTD['Gender'].value_counts(dropna= False), TTD['age_cuts'].value_counts(dropna= False)

(Race
 white       386048
 missing     188851
 black        60934
 hispanic     55029
 api           8771
 aian           816
 multiple       128
 others           3
 Name: count, dtype: int64,
 Gender
 M    383258
 F    265313
 I     52009
 Name: count, dtype: int64,
 age_cuts
 Age below 62       620625
 Age 62 and over     77829
 missing              2126
 Name: count, dtype: int64)

In [13]:
# TTD_Oot['Race']= TTD_Oot['Borrower_Race_Prim_BISG']
# TTD_Oot['Gender']= TTD_Oot['borrower_gender']
# TTD_Oot['age_cuts']= np.where(TTD_Oot['applicant_age'].isnull(), 'missing',
#                          np.where(TTD_Oot['applicant_age']< 62, 'Age below 62',
#                                   np.where(TTD_Oot['applicant_age']>= 62, 'Age 62 and over', 'missing')))

# # TTD_Oot['age_cuts'].value_counts(dropna= False)

In [14]:
# TTD_Oot['Race'].value_counts(dropna= False), TTD_Oot['Gender'].value_counts(dropna= False), TTD_Oot['age_cuts'].value_counts(dropna= False)

In [15]:
print({'Length': Train['funded_flag'].sum(), 'Bads': Train['bad_flag'].sum()})
print({'Length': Test['funded_flag'].sum(), 'Bads': Test['bad_flag'].sum()})
print({'Length': Oot['funded_flag'].sum(), 'Bads': Oot['bad_flag'].sum()})

{'Length': 146855.0, 'Bads': 2227.0}
{'Length': 62938.0, 'Bads': 959.0}
{'Length': 37121.0, 'Bads': 545.0}

In [16]:
Train.shape, Test.shape, Oot.shape

((146855, 347), (62938, 347), (37121, 345))

In [17]:
print(TTD.shape)
TTD= TTD[TTD['client']!= 'CPM'].reset_index(drop= True)
print(TTD.shape)
# TTD_Oot= TTD_Oot[TTD_Oot['client']!= 'CPM'].reset_index(drop= True)

(700580, 345)
(685215, 345)

In [18]:
Train= Train[all_cols + ['weight']]
Test= Test[all_cols + ['weight']]
Oot= Oot[all_cols]
TTD= TTD[all_cols]
# TTD_Oot= TTD_Oot[all_cols]

Train.shape, Test.shape, Oot.shape, TTD.shape#, TTD_Oot.shape

((146855, 145), (62938, 145), (37121, 144), (685215, 144))

In [19]:
Train.rename(columns= {'weight': 'wt2'}, inplace= True)
Test.rename(columns= {'weight': 'wt2'}, inplace= True)

In [20]:
### Convert the Variable into categorical
var_to_cat= '''businesstitleleadership
proflictypecategory
addrcurrentdeedmailing
addrcurrentphoneservice
addrcurrentsubjectowned
addrinputdeedmailing
addrinputphoneservice
addrinputproblems
addrinputsubjectowned
addrlastmoveecontrajectory
addronfilecollege
addronfilecorrectional
addronfilehighrisk
addrprevioussubjectowned
alertregulatorycondition
assetownership
assetpersonal
assetprop
assetpropnewestmortgagetype
bankruptcychapter
bankruptcystatus
businessassociation
educationattendance
educationevidence
educationinstitutionrating
educationprogramattended
inquiryauto12month
inquirybanking12month
inquirycollections12month
inquirynonshortterm12month
inquiryshortterm12month
inquirytelcom12month
shorttermloanrequest
shorttermloanrequest12month
shorttermloanrequest24month
subjectnewestrecord12month
sourcevoterregistration'''.splitlines()
len(var_to_cat)

37

In [21]:
var_to_cat= list(set(var_to_cat))
len(var_to_cat)

37

In [22]:
Train[req_cols].isnull().sum()

assetpropevercount                 0
sourcenonderogcount06month         0
addronfilecount                    0
addrinputcountyratio               0
assetpropnewestsaleprice           0
addrcurrenttaxvalue                0
addrinputavmvalue                  0
addrinputavmvalue60month           0
addrinputlastsaleprice             0
addrinputtaxmarketvalue            0
sourcecredheadertimeoldest         0
addrinputphonecount                0
assetpropcurrenttaxtotal           0
addrcurrentavmvalue                0
assetproppurchasetimeoldest        0
addrpreviouslengthofres            0
addrinputlengthofres               0
addrcurrenttaxmarketvalue          0
addrprevioustimenewest             0
addrcurrenttractratio              0
sourcenonderogcount12month         0
assetpropcurrentcount              0
addrinputsubjectcount              0
sourcenonderogcount                0
addrinputtaxvalue                  0
assetpropeversoldcount             0
businessassociationtimeoldest      0
addrinputtractratio                0
derogtimenewest                    0
addrchangecount24month             0
addrinputtimelastsale              0
educationinstitutionprivate        0
addrinputblockratio                0
businesstitleleadership            0
addrcurrentlengthofres             0
addrcurrentavmratio12monthprior    0
addrcurrentblockratio              0
derogcount                         0
profliccount                       0
addrinputavmratio60monthprior      0
addrcurrentcountyratio             0
assetpropsaletimeoldest            0
subjectrecordtimeoldest            0
addrcurrenttimenewest              0
proflictypecategory                0
criminalnonfelonytimenewest        0
lienjudgmentdollartotal            0
addrcurrentlastsalesprice          0
addrinputtimenewest                0
evictiontimenewest                 0
bankruptcycount                    0
addrcurrenttimelastsale            0
addrinputtimeoldest                0
addrlastmovetaxratiodiff           0
criminalnonfelonycount             0
sourcenonderogcount03month         0
addrchangecount03month             0
addrchangecount06month             0
addrchangecount12month             0
addrchangecount60month             0
addrcurrentavmratio60monthprior    0
addrcurrentavmvalue12month         0
addrcurrentavmvalue60month         0
addrcurrentcorrectional            0
addrcurrentdeedmailing             0
addrcurrentphoneservice            0
addrcurrentsubjectowned            0
addrcurrenttimeoldest              0
addrinputavmratio12monthprior      0
addrinputavmvalue12month           0
addrinputdeedmailing               0
addrinputphoneservice              0
addrinputproblems                  0
addrinputsubjectowned              0
addrlastmoveecontrajectory         0
addronfilecollege                  0
addronfilecorrectional             0
addronfilehighrisk                 0
addrpreviouscorrectional           0
addrprevioussubjectowned           0
addrprevioustimeoldest             0
alertregulatorycondition           0
assetownership                     0
assetpersonal                      0
assetpersonalcount                 0
assetprop                          0
assetpropnewestmortgagetype        0
assetproppurchasecount12month      0
assetproppurchasetimenewest        0
assetpropsalepurchaseratio         0
assetpropsaletimenewest            0
assetpropsoldcount12month          0
bankruptcychapter                  0
bankruptcycount24month             0
bankruptcydismissed24month         0
bankruptcystatus                   0
bankruptcytimenewest               0
businessassociation                0
criminalfelonycount                0
criminalfelonycount12month         0
criminalfelonytimenewest           0
criminalnonfelonycount12month      0
derogcount12month                  0
educationattendance                0
educationevidence                  0
educationinstitutionrating         0
educationprogramattended           0
evictioncount                      0
evictioncount12month               0
inquiryauto12month                 0
inquirybanking12month              0
inquirycollections12month          0
inquirynonshortterm12month         0
inquiryshortterm12month            0
inquirytelcom12month               0
lienjudgmentcount                  0
lienjudgmentcount12month           0
lienjudgmentcourtcount             0
lienjudgmentforeclosurecount       0
lienjudgmentothercount             0
lienjudgmentsmallclaimscount       0
lienjudgmenttaxcount               0
lienjudgmenttimenewest             0
shorttermloanrequest               0
shorttermloanrequest12month        0
shorttermloanrequest24month        0
sourcecredheadertimenewest         0
sourcevoterregistration            0
subjectnewestrecord12month         0
subjectrecordtimenewest            0
dtype: int64

#### Monotonic Binning

In [23]:
# mkdir /root/Unified_LN_V2/LN_Auto_V2/Model_Data/Without_LDA_Auto_LN_V2

In [24]:
# mkdir /root/Unified_LN_V2/LN_Auto_V2/Model_Data/Without_LDA_Auto_LN_V2/Mono_Data

In [25]:
path_mono= '/root/Unified_LN_V2/LN_Auto_V2/Model_Data/Without_LDA_Auto_LN_V2/Mono_Data/'
path_to_save= '/root/Unified_LN_V2/LN_Auto_V2/Model_Data/Without_LDA_Auto_LN_V2/'

In [26]:
for var in var_to_cat:
    Train[var]= Train[var].astype(int).astype(str)
    Test[var]= Test[var].astype(int).astype(str)
    Oot[var]= Oot[var].astype(int).astype(str)
    TTD[var]= TTD[var].astype(int).astype(str)
    # TTD_Oot[var]= TTD_Oot[var].astype(int).astype(str)

In [27]:
for var in var_to_cat:
    print(var)
    display(Train[var].value_counts(dropna= False).reset_index())
    print()

inquirynonshortterm12month

  inquirynonshortterm12month   count
0                          0  108246
1                          1   38609

addrlastmoveecontrajectory

   addrlastmoveecontrajectory  count
0                           1  73447
1                          10  13049
2                          11  11250
3                           9   9275
4                           4   9160
5                           8   7651
6                          12   7524
7                           0   6266
8                           3   5123
9                           2   2968
10                          6    546
11                          5    332
12                          7    264

addrinputsubjectowned

  addrinputsubjectowned  count
0                     1  70408
1                     0  52720
2                    -1  23727

inquiryauto12month

  inquiryauto12month   count
0                  0  130194
1                  1   16661

addronfilehighrisk

  addronfilehighrisk   count
0                  0  146823
1                  1      32

inquirytelcom12month

  inquirytelcom12month   count
0                    0  144522
1                    1    2333

educationattendance

  educationattendance   count
0                   0  126776
1                   1   20079

addronfilecorrectional

  addronfilecorrectional   count
0                      0  146851
1                      1       4

businesstitleleadership

  businesstitleleadership   count
0                      -1  129958
1                       2    9707
2                       1    3717
3                       0    3473

educationinstitutionrating

  educationinstitutionrating   count
0                          0  130954
1                          3    4960
2                          4    4436
3                          5    2835
4                          2    1816
5                          6    1562
6                          1     292

assetpersonal

  assetpersonal   count
0             0  133649
1             1   13206

addrcurrentdeedmailing

  addrcurrentdeedmailing   count
0                      0  100934
1                      1   23280
2                     -1   22641

addrprevioussubjectowned

  addrprevioussubjectowned  count
0                        1  85078
1                       -1  46703
2                        3  12800
3                        2   2274

addrinputphoneservice

  addrinputphoneservice   count
0                     0  122628
1                     1   24226
2                    -1       1

assetownership

  assetownership  count
0              1  92693
1              0  54162

educationevidence

  educationevidence   count
0                 0  121690
1                 1   25165

educationprogramattended

  educationprogramattended   count
0                        0  128159
1                        2   14683
2                        1    4000
3                        3      13

businessassociation

  businessassociation   count
0                   0  129958
1                   1   16897

shorttermloanrequest12month

  shorttermloanrequest12month   count
0                           0  146798
1                           1      57

alertregulatorycondition

  alertregulatorycondition   count
0                        1  141937
1                        2    4918

assetprop

  assetprop  count
0         1  90584
1         0  56271

subjectnewestrecord12month

  subjectnewestrecord12month   count
0                          1  145167
1                          0    1688

assetpropnewestmortgagetype

  assetpropnewestmortgagetype  count
0                          -1  73120
1                           0  70461
2                           2   2033
3                           1   1241

addrinputproblems

  addrinputproblems   count
0                 0  142496
1                 2    3560
2                 1     609
3                 3      98
4                 4      91
5                -1       1

addronfilecollege

  addronfilecollege   count
0                 0  144927
1                 1    1928

bankruptcystatus

  bankruptcystatus   count
0                0  141943
1                1    4543
2                2     337
3               -1      32

addrinputdeedmailing

  addrinputdeedmailing   count
0                    0  101337
1                   -1   23727
2                    1   21791

proflictypecategory

  proflictypecategory   count
0                  -1  135620
1                   2    3105
2                   3    3063
3                   1    1903
4                   0    1493
5                   4     997
6                   5     674

shorttermloanrequest

  shorttermloanrequest   count
0                    0  146401
1                    1     454

bankruptcychapter

  bankruptcychapter   count
0                 0  141943
1                 1    3731
2                 2    1178
3                -1       3

addrcurrentphoneservice

  addrcurrentphoneservice   count
0                       0  122629
1                       1   24226

shorttermloanrequest24month

  shorttermloanrequest24month   count
0                           0  146745
1                           1     110

sourcevoterregistration

  sourcevoterregistration  count
0                       0  98685
1                       1  48170

inquirycollections12month

  inquirycollections12month   count
0                         0  146447
1                         1     408

inquirybanking12month

  inquirybanking12month   count
0                     0  122121
1                     1   24734

inquiryshortterm12month

  inquiryshortterm12month   count
0                       0  143630
1                       1    3225

addrcurrentsubjectowned

  addrcurrentsubjectowned  count
0                       1  69735
1                       0  54479
2                      -1  22641

In [27]:
import pickle

In [28]:
configFile= Train[req_cols].dtypes.reset_index()
configFile.columns= ['Feature_Name', 'dtypes']
configFile['Special_values']= '[[-1]]'
# configFile['Monotonicity']= 'Y'
configFile['Monotonicity']= np.where(~configFile['Feature_Name'].isin(var_to_cat), 'Y', 'N')
del configFile['dtypes']
configFile

                        Feature_Name Special_values Monotonicity
0                 assetpropevercount         [[-1]]            Y
1         sourcenonderogcount06month         [[-1]]            Y
2                    addronfilecount         [[-1]]            Y
3               addrinputcountyratio         [[-1]]            Y
4           assetpropnewestsaleprice         [[-1]]            Y
5                addrcurrenttaxvalue         [[-1]]            Y
6                  addrinputavmvalue         [[-1]]            Y
7           addrinputavmvalue60month         [[-1]]            Y
8             addrinputlastsaleprice         [[-1]]            Y
9            addrinputtaxmarketvalue         [[-1]]            Y
10        sourcecredheadertimeoldest         [[-1]]            Y
11               addrinputphonecount         [[-1]]            Y
12          assetpropcurrenttaxtotal         [[-1]]            Y
13               addrcurrentavmvalue         [[-1]]            Y
14       assetproppurchasetimeoldest         [[-1]]            Y
15           addrpreviouslengthofres         [[-1]]            Y
16              addrinputlengthofres         [[-1]]            Y
17         addrcurrenttaxmarketvalue         [[-1]]            Y
18            addrprevioustimenewest         [[-1]]            Y
19             addrcurrenttractratio         [[-1]]            Y
20        sourcenonderogcount12month         [[-1]]            Y
21             assetpropcurrentcount         [[-1]]            Y
22             addrinputsubjectcount         [[-1]]            Y
23               sourcenonderogcount         [[-1]]            Y
24                 addrinputtaxvalue         [[-1]]            Y
25            assetpropeversoldcount         [[-1]]            Y
26     businessassociationtimeoldest         [[-1]]            Y
27               addrinputtractratio         [[-1]]            Y
28                   derogtimenewest         [[-1]]            Y
29            addrchangecount24month         [[-1]]            Y
30             addrinputtimelastsale         [[-1]]            Y
31       educationinstitutionprivate         [[-1]]            Y
32               addrinputblockratio         [[-1]]            Y
33           businesstitleleadership         [[-1]]            N
34            addrcurrentlengthofres         [[-1]]            Y
35   addrcurrentavmratio12monthprior         [[-1]]            Y
36             addrcurrentblockratio         [[-1]]            Y
37                        derogcount         [[-1]]            Y
38                      profliccount         [[-1]]            Y
39     addrinputavmratio60monthprior         [[-1]]            Y
40            addrcurrentcountyratio         [[-1]]            Y
41           assetpropsaletimeoldest         [[-1]]            Y
42           subjectrecordtimeoldest         [[-1]]            Y
43             addrcurrenttimenewest         [[-1]]            Y
44               proflictypecategory         [[-1]]            N
45       criminalnonfelonytimenewest         [[-1]]            Y
46           lienjudgmentdollartotal         [[-1]]            Y
47         addrcurrentlastsalesprice         [[-1]]            Y
48               addrinputtimenewest         [[-1]]            Y
49                evictiontimenewest         [[-1]]            Y
50                   bankruptcycount         [[-1]]            Y
51           addrcurrenttimelastsale         [[-1]]            Y
52               addrinputtimeoldest         [[-1]]            Y
53          addrlastmovetaxratiodiff         [[-1]]            Y
54            criminalnonfelonycount         [[-1]]            Y
55        sourcenonderogcount03month         [[-1]]            Y
56            addrchangecount03month         [[-1]]            Y
57            addrchangecount06month         [[-1]]            Y
58            addrchangecount12month         [[-1]]            Y
59            addrchangecount60month         [[-1]]            Y
60   addrcurrentavmratio60monthprior         [[-1]]            Y
61        addrcurrentavmvalue12month         [[-1]]            Y
62        addrcurrentavmvalue60month         [[-1]]            Y
63           addrcurrentcorrectional         [[-1]]            Y
64            addrcurrentdeedmailing         [[-1]]            N
65           addrcurrentphoneservice         [[-1]]            N
66           addrcurrentsubjectowned         [[-1]]            N
67             addrcurrenttimeoldest         [[-1]]            Y
68     addrinputavmratio12monthprior         [[-1]]            Y
69          addrinputavmvalue12month         [[-1]]            Y
70              addrinputdeedmailing         [[-1]]            N
71             addrinputphoneservice         [[-1]]            N
72                 addrinputproblems         [[-1]]            N
73             addrinputsubjectowned         [[-1]]            N
74        addrlastmoveecontrajectory         [[-1]]            N
75                 addronfilecollege         [[-1]]            N
76            addronfilecorrectional         [[-1]]            N
77                addronfilehighrisk         [[-1]]            N
78          addrpreviouscorrectional         [[-1]]            Y
79          addrprevioussubjectowned         [[-1]]            N
80            addrprevioustimeoldest         [[-1]]            Y
81          alertregulatorycondition         [[-1]]            N
82                    assetownership         [[-1]]            N
83                     assetpersonal         [[-1]]            N
84                assetpersonalcount         [[-1]]            Y
85                         assetprop         [[-1]]            N
86       assetpropnewestmortgagetype         [[-1]]            N
87     assetproppurchasecount12month         [[-1]]            Y
88       assetproppurchasetimenewest         [[-1]]            Y
89        assetpropsalepurchaseratio         [[-1]]            Y
90           assetpropsaletimenewest         [[-1]]            Y
91         assetpropsoldcount12month         [[-1]]            Y
92                 bankruptcychapter         [[-1]]            N
93            bankruptcycount24month         [[-1]]            Y
94        bankruptcydismissed24month         [[-1]]            Y
95                  bankruptcystatus         [[-1]]            N
96              bankruptcytimenewest         [[-1]]            Y
97               businessassociation         [[-1]]            N
98               criminalfelonycount         [[-1]]            Y
99        criminalfelonycount12month         [[-1]]            Y
100         criminalfelonytimenewest         [[-1]]            Y
101    criminalnonfelonycount12month         [[-1]]            Y
102                derogcount12month         [[-1]]            Y
103              educationattendance         [[-1]]            N
104                educationevidence         [[-1]]            N
105       educationinstitutionrating         [[-1]]            N
106         educationprogramattended         [[-1]]            N
107                    evictioncount         [[-1]]            Y
108             evictioncount12month         [[-1]]            Y
109               inquiryauto12month         [[-1]]            N
110            inquirybanking12month         [[-1]]            N
111        inquirycollections12month         [[-1]]            N
112       inquirynonshortterm12month         [[-1]]            N
113          inquiryshortterm12month         [[-1]]            N
114             inquirytelcom12month         [[-1]]            N
115                lienjudgmentcount         [[-1]]            Y
116         lienjudgmentcount12month         [[-1]]            Y
117           lienjudgmentcourtcount         [[-1]]            Y
118     lienjudgmentforeclosurecount         [[-1]]            Y
119           lienjudgmentothercount         [[-1]]            Y
120     lienjudgmentsmallclaimscount         [[-1]]            Y
121             lienjudgmenttaxcount         [[-1]]            Y
122           lienjudgmenttimenewest         [[-1]]            Y
123             shorttermloanrequest         [[-1]]            N
124      shorttermloanrequest12month         [[-1]]            N
125      shorttermloanrequest24month         [[-1]]            N
126       sourcecredheadertimenewest         [[-1]]            Y
127          sourcevoterregistration         [[-1]]            N
128       subjectnewestrecord12month         [[-1]]            N
129          subjectrecordtimenewest         [[-1]]            Y

In [29]:
with open(f'{path_mono}configFile.pickle', 'wb') as f:
    pickle.dump(configFile, f)

In [31]:
dep_var = "bad_flag"
weight_column = 'wt2'
min_bin_size = 0.1
index_col=[]

In [32]:
# Get feature meta
# special_values = pd.read_csv(config_file)
import ast
special_values= configFile.copy()
# Converting the string entered in CSV to list of lists
special_values['Special_values'] = special_values['Special_values'].apply(lambda x: ast.literal_eval(str(x)))
# Generate feature meta
feature_meta = GenMeta(Train, index_col, sample_size=50000)
feature_meta = pd.merge(feature_meta, special_values, on="Feature_Name", how="left").replace(np.nan, '')
feature_meta.index = feature_meta['Feature_Name']
feature_meta

,Feature_Name,Datatype,Special_values,Monotonicity
Feature_Name,,,,
unique_id,unique_id,string,,
client,client,string,,
app_date,app_date,string,,
approve_flag,approve_flag,float,,
funded_flag,funded_flag,float,,
fico_pb,fico_pb,float,,
fico_cb,fico_cb,float,,
bad_flag,bad_flag,float,,
product,product,string,,
auto_score,auto_score,float,,
bankcard_score,bankcard_score,float,,
Race,Race,string,,
Gender,Gender,string,,
age_cuts,age_cuts,string,,
assetpropevercount,assetpropevercount,float,[[-1]],Y
sourcenonderogcount06month,sourcenonderogcount06month,float,[[-1]],Y
addronfilecount,addronfilecount,float,[[-1]],Y
addrinputcountyratio,addrinputcountyratio,float,[[-1]],Y
assetpropnewestsaleprice,assetpropnewestsaleprice,float,[[-1]],Y
addrcurrenttaxvalue,addrcurrenttaxvalue,float,[[-1]],Y
addrinputavmvalue,addrinputavmvalue,float,[[-1]],Y
addrinputavmvalue60month,addrinputavmvalue60month,float,[[-1]],Y
addrinputlastsaleprice,addrinputlastsaleprice,float,[[-1]],Y
addrinputtaxmarketvalue,addrinputtaxmarketvalue,float,[[-1]],Y
sourcecredheadertimeoldest,sourcecredheadertimeoldest,float,[[-1]],Y
addrinputphonecount,addrinputphonecount,float,[[-1]],Y
assetpropcurrenttaxtotal,assetpropcurrenttaxtotal,float,[[-1]],Y
addrcurrentavmvalue,addrcurrentavmvalue,float,[[-1]],Y
assetproppurchasetimeoldest,assetproppurchasetimeoldest,float,[[-1]],Y
addrpreviouslengthofres,addrpreviouslengthofres,float,[[-1]],Y
addrinputlengthofres,addrinputlengthofres,float,[[-1]],Y
addrcurrenttaxmarketvalue,addrcurrenttaxmarketvalue,float,[[-1]],Y
addrprevioustimenewest,addrprevioustimenewest,float,[[-1]],Y
addrcurrenttractratio,addrcurrenttractratio,float,[[-1]],Y
sourcenonderogcount12month,sourcenonderogcount12month,float,[[-1]],Y
assetpropcurrentcount,assetpropcurrentcount,float,[[-1]],Y
addrinputsubjectcount,addrinputsubjectcount,float,[[-1]],Y
sourcenonderogcount,sourcenonderogcount,float,[[-1]],Y
addrinputtaxvalue,addrinputtaxvalue,float,[[-1]],Y
assetpropeversoldcount,assetpropeversoldcount,float,[[-1]],Y
businessassociationtimeoldest,businessassociationtimeoldest,float,[[-1]],Y
addrinputtractratio,addrinputtractratio,float,[[-1]],Y
derogtimenewest,derogtimenewest,float,[[-1]],Y
addrchangecount24month,addrchangecount24month,float,[[-1]],Y
addrinputtimelastsale,addrinputtimelastsale,float,[[-1]],Y
educationinstitutionprivate,educationinstitutionprivate,float,[[-1]],Y
addrinputblockratio,addrinputblockratio,float,[[-1]],Y
businesstitleleadership,businesstitleleadership,string,[[-1]],N
addrcurrentlengthofres,addrcurrentlengthofres,float,[[-1]],Y
addrcurrentavmratio12monthprior,addrcurrentavmratio12monthprior,float,[[-1]],Y
addrcurrentblockratio,addrcurrentblockratio,float,[[-1]],Y
derogcount,derogcount,float,[[-1]],Y
profliccount,profliccount,float,[[-1]],Y
addrinputavmratio60monthprior,addrinputavmratio60monthprior,float,[[-1]],Y
addrcurrentcountyratio,addrcurrentcountyratio,float,[[-1]],Y
assetpropsaletimeoldest,assetpropsaletimeoldest,float,[[-1]],Y
subjectrecordtimeoldest,subjectrecordtimeoldest,float,[[-1]],Y
addrcurrenttimenewest,addrcurrenttimenewest,float,[[-1]],Y
proflictypecategory,proflictypecategory,string,[[-1]],N
criminalnonfelonytimenewest,criminalnonfelonytimenewest,float,[[-1]],Y
lienjudgmentdollartotal,lienjudgmentdollartotal,float,[[-1]],Y
addrcurrentlastsalesprice,addrcurrentlastsalesprice,float,[[-1]],Y
addrinputtimenewest,addrinputtimenewest,float,[[-1]],Y
evictiontimenewest,evictiontimenewest,float,[[-1]],Y
bankruptcycount,bankruptcycount,float,[[-1]],Y
addrcurrenttimelastsale,addrcurrenttimelastsale,float,[[-1]],Y
addrinputtimeoldest,addrinputtimeoldest,float,[[-1]],Y
addrlastmovetaxratiodiff,addrlastmovetaxratiodiff,float,[[-1]],Y
criminalnonfelonycount,criminalnonfelonycount,float,[[-1]],Y
sourcenonderogcount03month,sourcenonderogcount03month,float,[[-1]],Y
addrchangecount03month,addrchangecount03month,float,[[-1]],Y
addrchangecount06month,addrchangecount06month,float,[[-1]],Y
addrchangecount12month,addrchangecount12month,float,[[-1]],Y
addrchangecount60month,addrchangecount60month,float,[[-1]],Y
addrcurrentavmratio60monthprior,addrcurrentavmratio60monthprior,float,[[-1]],Y
addrcurrentavmvalue12month,addrcurrentavmvalue12month,float,[[-1]],Y
addrcurrentavmvalue60month,addrcurrentavmvalue60month,float,[[-1]],Y
addrcurrentcorrectional,addrcurrentcorrectional,float,[[-1]],Y
addrcurrentdeedmailing,addrcurrentdeedmailing,string,[[-1]],N
addrcurrentphoneservice,addrcurrentphoneservice,string,[[-1]],N
addrcurrentsubjectowned,addrcurrentsubjectowned,string,[[-1]],N
addrcurrenttimeoldest,addrcurrenttimeoldest,float,[[-1]],Y
addrinputavmratio12monthprior,addrinputavmratio12monthprior,float,[[-1]],Y
addrinputavmvalue12month,addrinputavmvalue12month,float,[[-1]],Y
addrinputdeedmailing,addrinputdeedmailing,string,[[-1]],N
addrinputphoneservice,addrinputphoneservice,string,[[-1]],N
addrinputproblems,addrinputproblems,string,[[-1]],N
addrinputsubjectowned,addrinputsubjectowned,string,[[-1]],N
addrlastmoveecontrajectory,addrlastmoveecontrajectory,string,[[-1]],N
addronfilecollege,addronfilecollege,string,[[-1]],N
addronfilecorrectional,addronfilecorrectional,string,[[-1]],N
addronfilehighrisk,addronfilehighrisk,string,[[-1]],N
addrpreviouscorrectional,addrpreviouscorrectional,float,[[-1]],Y
addrprevioussubjectowned,addrprevioussubjectowned,string,[[-1]],N
addrprevioustimeoldest,addrprevioustimeoldest,float,[[-1]],Y
alertregulatorycondition,alertregulatorycondition,string,[[-1]],N
assetownership,assetownership,string,[[-1]],N
assetpersonal,assetpersonal,string,[[-1]],N
assetpersonalcount,assetpersonalcount,float,[[-1]],Y
assetprop,assetprop,string,[[-1]],N
assetpropnewestmortgagetype,assetpropnewestmortgagetype,string,[[-1]],N
assetproppurchasecount12month,assetproppurchasecount12month,float,[[-1]],Y
assetproppurchasetimenewest,assetproppurchasetimenewest,float,[[-1]],Y
assetpropsalepurchaseratio,assetpropsalepurchaseratio,float,[[-1]],Y
assetpropsaletimenewest,assetpropsaletimenewest,float,[[-1]],Y
assetpropsoldcount12month,assetpropsoldcount12month,float,[[-1]],Y
bankruptcychapter,bankruptcychapter,string,[[-1]],N
bankruptcycount24month,bankruptcycount24month,float,[[-1]],Y
bankruptcydismissed24month,bankruptcydismissed24month,float,[[-1]],Y
bankruptcystatus,bankruptcystatus,string,[[-1]],N
bankruptcytimenewest,bankruptcytimenewest,float,[[-1]],Y
businessassociation,businessassociation,string,[[-1]],N
criminalfelonycount,criminalfelonycount,float,[[-1]],Y
criminalfelonycount12month,criminalfelonycount12month,float,[[-1]],Y
criminalfelonytimenewest,criminalfelonytimenewest,float,[[-1]],Y
criminalnonfelonycount12month,criminalnonfelonycount12month,float,[[-1]],Y
derogcount12month,derogcount12month,float,[[-1]],Y
educationattendance,educationattendance,string,[[-1]],N
educationevidence,educationevidence,string,[[-1]],N
educationinstitutionrating,educationinstitutionrating,string,[[-1]],N
educationprogramattended,educationprogramattended,string,[[-1]],N
evictioncount,evictioncount,float,[[-1]],Y
evictioncount12month,evictioncount12month,float,[[-1]],Y
inquiryauto12month,inquiryauto12month,string,[[-1]],N
inquirybanking12month,inquirybanking12month,string,[[-1]],N
inquirycollections12month,inquirycollections12month,string,[[-1]],N
inquirynonshortterm12month,inquirynonshortterm12month,string,[[-1]],N
inquiryshortterm12month,inquiryshortterm12month,string,[[-1]],N
inquirytelcom12month,inquirytelcom12month,string,[[-1]],N
lienjudgmentcount,lienjudgmentcount,float,[[-1]],Y
lienjudgmentcount12month,lienjudgmentcount12month,float,[[-1]],Y
lienjudgmentcourtcount,lienjudgmentcourtcount,float,[[-1]],Y
lienjudgmentforeclosurecount,lienjudgmentforeclosurecount,float,[[-1]],Y
lienjudgmentothercount,lienjudgmentothercount,float,[[-1]],Y
lienjudgmentsmallclaimscount,lienjudgmentsmallclaimscount,float,[[-1]],Y
lienjudgmenttaxcount,lienjudgmenttaxcount,float,[[-1]],Y
lienjudgmenttimenewest,lienjudgmenttimenewest,float,[[-1]],Y
shorttermloanrequest,shorttermloanrequest,string,[[-1]],N
shorttermloanrequest12month,shorttermloanrequest12month,string,[[-1]],N
shorttermloanrequest24month,shorttermloanrequest24month,string,[[-1]],N
sourcecredheadertimenewest,sourcecredheadertimenewest,float,[[-1]],Y
sourcevoterregistration,sourcevoterregistration,string,[[-1]],N
subjectnewestrecord12month,subjectnewestrecord12month,string,[[-1]],N
subjectrecordtimenewest,subjectrecordtimenewest,float,[[-1]],Y
wt2,wt2,float,,

In [33]:
with open(f'{path_mono}feature_meta.pickle', 'wb') as f:
    pickle.dump(feature_meta, f)

In [34]:
# Get numeric and embedding dataframe
embed_df, numeric_df = embedding_numeric_df(feature_meta, dep_var, index_col)

# Removing weight_column and columns that are not mentioned in the config file
embed_df.loc[np.invert(embed_df['Feature_Name'].isin(special_values['Feature_Name'].tolist())), 'Use_Feature'] = 'N'
numeric_df.loc[
        np.invert(numeric_df['Feature_Name'].isin(special_values['Feature_Name'].tolist())), 'Use_Feature'] = 'N'

if weight_column is not None:
    numeric_df.loc[numeric_df['Feature_Name'] == weight_column, 'Use_Feature'] = 'N'
    
display(numeric_df)
display(embed_df)

,Feature_Name,Use_Feature,Bucket_Size
Feature_Name,,,
approve_flag,approve_flag,N,10
funded_flag,funded_flag,N,10
fico_pb,fico_pb,N,10
fico_cb,fico_cb,N,10
bad_flag,bad_flag,N,10
auto_score,auto_score,N,10
bankcard_score,bankcard_score,N,10
assetpropevercount,assetpropevercount,Y,10
sourcenonderogcount06month,sourcenonderogcount06month,Y,10
addronfilecount,addronfilecount,Y,10
addrinputcountyratio,addrinputcountyratio,Y,10
assetpropnewestsaleprice,assetpropnewestsaleprice,Y,10
addrcurrenttaxvalue,addrcurrenttaxvalue,Y,10
addrinputavmvalue,addrinputavmvalue,Y,10
addrinputavmvalue60month,addrinputavmvalue60month,Y,10
addrinputlastsaleprice,addrinputlastsaleprice,Y,10
addrinputtaxmarketvalue,addrinputtaxmarketvalue,Y,10
sourcecredheadertimeoldest,sourcecredheadertimeoldest,Y,10
addrinputphonecount,addrinputphonecount,Y,10
assetpropcurrenttaxtotal,assetpropcurrenttaxtotal,Y,10
addrcurrentavmvalue,addrcurrentavmvalue,Y,10
assetproppurchasetimeoldest,assetproppurchasetimeoldest,Y,10
addrpreviouslengthofres,addrpreviouslengthofres,Y,10
addrinputlengthofres,addrinputlengthofres,Y,10
addrcurrenttaxmarketvalue,addrcurrenttaxmarketvalue,Y,10
addrprevioustimenewest,addrprevioustimenewest,Y,10
addrcurrenttractratio,addrcurrenttractratio,Y,10
sourcenonderogcount12month,sourcenonderogcount12month,Y,10
assetpropcurrentcount,assetpropcurrentcount,Y,10
addrinputsubjectcount,addrinputsubjectcount,Y,10
sourcenonderogcount,sourcenonderogcount,Y,10
addrinputtaxvalue,addrinputtaxvalue,Y,10
assetpropeversoldcount,assetpropeversoldcount,Y,10
businessassociationtimeoldest,businessassociationtimeoldest,Y,10
addrinputtractratio,addrinputtractratio,Y,10
derogtimenewest,derogtimenewest,Y,10
addrchangecount24month,addrchangecount24month,Y,10
addrinputtimelastsale,addrinputtimelastsale,Y,10
educationinstitutionprivate,educationinstitutionprivate,Y,10
addrinputblockratio,addrinputblockratio,Y,10
addrcurrentlengthofres,addrcurrentlengthofres,Y,10
addrcurrentavmratio12monthprior,addrcurrentavmratio12monthprior,Y,10
addrcurrentblockratio,addrcurrentblockratio,Y,10
derogcount,derogcount,Y,10
profliccount,profliccount,Y,10
addrinputavmratio60monthprior,addrinputavmratio60monthprior,Y,10
addrcurrentcountyratio,addrcurrentcountyratio,Y,10
assetpropsaletimeoldest,assetpropsaletimeoldest,Y,10
subjectrecordtimeoldest,subjectrecordtimeoldest,Y,10
addrcurrenttimenewest,addrcurrenttimenewest,Y,10
criminalnonfelonytimenewest,criminalnonfelonytimenewest,Y,10
lienjudgmentdollartotal,lienjudgmentdollartotal,Y,10
addrcurrentlastsalesprice,addrcurrentlastsalesprice,Y,10
addrinputtimenewest,addrinputtimenewest,Y,10
evictiontimenewest,evictiontimenewest,Y,10
bankruptcycount,bankruptcycount,Y,10
addrcurrenttimelastsale,addrcurrenttimelastsale,Y,10
addrinputtimeoldest,addrinputtimeoldest,Y,10
addrlastmovetaxratiodiff,addrlastmovetaxratiodiff,Y,10
criminalnonfelonycount,criminalnonfelonycount,Y,10
sourcenonderogcount03month,sourcenonderogcount03month,Y,10
addrchangecount03month,addrchangecount03month,Y,10
addrchangecount06month,addrchangecount06month,Y,10
addrchangecount12month,addrchangecount12month,Y,10
addrchangecount60month,addrchangecount60month,Y,10
addrcurrentavmratio60monthprior,addrcurrentavmratio60monthprior,Y,10
addrcurrentavmvalue12month,addrcurrentavmvalue12month,Y,10
addrcurrentavmvalue60month,addrcurrentavmvalue60month,Y,10
addrcurrentcorrectional,addrcurrentcorrectional,Y,10
addrcurrenttimeoldest,addrcurrenttimeoldest,Y,10
addrinputavmratio12monthprior,addrinputavmratio12monthprior,Y,10
addrinputavmvalue12month,addrinputavmvalue12month,Y,10
addrpreviouscorrectional,addrpreviouscorrectional,Y,10
addrprevioustimeoldest,addrprevioustimeoldest,Y,10
assetpersonalcount,assetpersonalcount,Y,10
assetproppurchasecount12month,assetproppurchasecount12month,Y,10
assetproppurchasetimenewest,assetproppurchasetimenewest,Y,10
assetpropsalepurchaseratio,assetpropsalepurchaseratio,Y,10
assetpropsaletimenewest,assetpropsaletimenewest,Y,10
assetpropsoldcount12month,assetpropsoldcount12month,Y,10
bankruptcycount24month,bankruptcycount24month,Y,10
bankruptcydismissed24month,bankruptcydismissed24month,Y,10
bankruptcytimenewest,bankruptcytimenewest,Y,10
criminalfelonycount,criminalfelonycount,Y,10
criminalfelonycount12month,criminalfelonycount12month,Y,10
criminalfelonytimenewest,criminalfelonytimenewest,Y,10
criminalnonfelonycount12month,criminalnonfelonycount12month,Y,10
derogcount12month,derogcount12month,Y,10
evictioncount,evictioncount,Y,10
evictioncount12month,evictioncount12month,Y,10
lienjudgmentcount,lienjudgmentcount,Y,10
lienjudgmentcount12month,lienjudgmentcount12month,Y,10
lienjudgmentcourtcount,lienjudgmentcourtcount,Y,10
lienjudgmentforeclosurecount,lienjudgmentforeclosurecount,Y,10
lienjudgmentothercount,lienjudgmentothercount,Y,10
lienjudgmentsmallclaimscount,lienjudgmentsmallclaimscount,Y,10
lienjudgmenttaxcount,lienjudgmenttaxcount,Y,10
lienjudgmenttimenewest,lienjudgmenttimenewest,Y,10
sourcecredheadertimenewest,sourcecredheadertimenewest,Y,10
subjectrecordtimenewest,subjectrecordtimenewest,Y,10
wt2,wt2,N,10

,Feature_Name,Use_Feature,Num_Hash_Buckets,Num_Embedding_Columns
Feature_Name,,,,
unique_id,unique_id,N,10,2
client,client,N,10,2
app_date,app_date,N,10,2
product,product,N,10,2
Race,Race,N,10,2
Gender,Gender,N,10,2
age_cuts,age_cuts,N,10,2
businesstitleleadership,businesstitleleadership,Y,10,2
proflictypecategory,proflictypecategory,Y,10,2
addrcurrentdeedmailing,addrcurrentdeedmailing,Y,10,2
addrcurrentphoneservice,addrcurrentphoneservice,Y,10,2
addrcurrentsubjectowned,addrcurrentsubjectowned,Y,10,2
addrinputdeedmailing,addrinputdeedmailing,Y,10,2
addrinputphoneservice,addrinputphoneservice,Y,10,2
addrinputproblems,addrinputproblems,Y,10,2
addrinputsubjectowned,addrinputsubjectowned,Y,10,2
addrlastmoveecontrajectory,addrlastmoveecontrajectory,Y,10,2
addronfilecollege,addronfilecollege,Y,10,2
addronfilecorrectional,addronfilecorrectional,Y,10,2
addronfilehighrisk,addronfilehighrisk,Y,10,2
addrprevioussubjectowned,addrprevioussubjectowned,Y,10,2
alertregulatorycondition,alertregulatorycondition,Y,10,2
assetownership,assetownership,Y,10,2
assetpersonal,assetpersonal,Y,10,2
assetprop,assetprop,Y,10,2
assetpropnewestmortgagetype,assetpropnewestmortgagetype,Y,10,2
bankruptcychapter,bankruptcychapter,Y,10,2
bankruptcystatus,bankruptcystatus,Y,10,2
businessassociation,businessassociation,Y,10,2
educationattendance,educationattendance,Y,10,2
educationevidence,educationevidence,Y,10,2
educationinstitutionrating,educationinstitutionrating,Y,10,2
educationprogramattended,educationprogramattended,Y,10,2
inquiryauto12month,inquiryauto12month,Y,10,2
inquirybanking12month,inquirybanking12month,Y,10,2
inquirycollections12month,inquirycollections12month,Y,10,2
inquirynonshortterm12month,inquirynonshortterm12month,Y,10,2
inquiryshortterm12month,inquiryshortterm12month,Y,10,2
inquirytelcom12month,inquirytelcom12month,Y,10,2
shorttermloanrequest,shorttermloanrequest,Y,10,2
shorttermloanrequest12month,shorttermloanrequest12month,Y,10,2
shorttermloanrequest24month,shorttermloanrequest24month,Y,10,2
sourcevoterregistration,sourcevoterregistration,Y,10,2
subjectnewestrecord12month,subjectnewestrecord12month,Y,10,2

In [35]:
with open(f'{path_mono}embed_df.pickle', 'wb') as f:
    pickle.dump(embed_df, f)

with open(f'{path_mono}numeric_df.pickle', 'wb') as f:
    pickle.dump(numeric_df, f)

In [36]:
# Get feature boundaries
feature_boundaries, numeric_df = get_boundaries_cart(filename=Train, sample_size=5000, shuffle_ind=False,
                                                         batch_size=100000,
                                                         shuffle_size=50000, feature_meta=feature_meta,
                                                         numeric_df=numeric_df,
                                                         dep_var=dep_var,
                                                         weight_column=weight_column, min_bin_size=float(min_bin_size))

assetpropevercount
0.0
assetpropevercount : [-inf, 1.0, 2.0, 3.0, inf]
sourcenonderogcount06month
0.0
sourcenonderogcount06month : [-inf, 2.0, inf]
addronfilecount
0.0
addronfilecount : [-inf, 10.0, inf]
addrinputcountyratio
0.0
addrinputcountyratio : [-inf, 0.550000012, 0.850000024, 1.00999999, 1.32000005, inf]
assetpropnewestsaleprice
1.0
assetpropnewestsaleprice : [-inf, 108000.0, 155000.0, 384900.0, inf]
addrcurrenttaxvalue
0.0
addrcurrenttaxvalue : [-inf, 510.0, 234900.0, inf]
addrinputavmvalue
2367.0
addrinputavmvalue : [-inf, 97283.0, 140226.0, 220644.0, 280500.0, 363171.0, 466923.0, inf]
addrinputavmvalue60month
3752.0
addrinputavmvalue60month : [-inf, 67133.0, 116065.0, 154329.0, 182000.0, 244673.0, 363163.0, inf]
addrinputlastsaleprice
1.0
addrinputlastsaleprice : [-inf, 68000.0, 120570.0, 208000.0, 349001.0, inf]
addrinputtaxmarketvalue
0.0
addrinputtaxmarketvalue : [-inf, 4900.0, 131500.0, 299200.0, inf]
sourcecredheadertimeoldest
1.0
sourcecredheadertimeoldest : [-inf, 61.0, 114.0, 176.0, 253.0, 353.0, 421.0, inf]
addrinputphonecount
0.0
addrinputphonecount : [-inf, 0.4363108938129026, inf]
assetpropcurrenttaxtotal
0.0
assetpropcurrenttaxtotal : [-inf, 5700.0, 15977.0, 324300.0, inf]
addrcurrentavmvalue
2403.0
addrcurrentavmvalue : [-inf, 90271.0, 143000.0, 238752.0, 296257.0, 385000.0, inf]
assetproppurchasetimeoldest
1.0
assetproppurchasetimeoldest : [-inf, 29.0, 162.0, 239.0, inf]
addrpreviouslengthofres
1.0
addrpreviouslengthofres : [-inf, 23.0, 46.0, 64.0, 87.0, 126.0, inf]
addrinputlengthofres
1.0
addrinputlengthofres : [-inf, 9.0, 31.0, 48.0, 113.0, 166.0, 244.0, inf]
addrcurrenttaxmarketvalue
0.0
addrcurrenttaxmarketvalue : [-inf, 9000.0, 137900.0, 294500.0, inf]
addrprevioustimenewest
1.0
addrprevioustimenewest : [-inf, 15.0, 43.0, 94.0, 159.0, inf]
addrcurrenttractratio
0.0
addrcurrenttractratio : [-inf, 0.109999999, 0.720000029, 0.910000026, 1.04999995, 1.47000003, inf]
sourcenonderogcount12month
0.0
sourcenonderogcount12month : [-inf, 2.0, inf]
assetpropcurrentcount
0.0
assetpropcurrentcount : [-inf, 1.0, 2.0, inf]
addrinputsubjectcount
0.0
addrinputsubjectcount : [-inf, 1.0, 2.0, inf]
sourcenonderogcount
0.0
sourcenonderogcount : [-inf, 2.0, 3.0, 4.0, 5.0, inf]
addrinputtaxvalue
0.0
addrinputtaxvalue : [-inf, 518.0, 246800.0, inf]
assetpropeversoldcount
0.0
assetpropeversoldcount : [-inf, 1.0, inf]
businessassociationtimeoldest
1.0
businessassociationtimeoldest : [-inf, 15.0, 77.0, 100.0, 152.0, inf]
addrinputtractratio
0.0
addrinputtractratio : [-inf, 0.330000013, 0.769999981, 0.910000026, 1.02999997, 1.15999997, 1.38999999, inf]
derogtimenewest
1.0
derogtimenewest : [-inf, 12.0, 22.0, 45.0, 54.0, 76.0, inf]
addrchangecount24month
0.0
addrchangecount24month : [-inf, 1.0, inf]
addrinputtimelastsale
1.0
addrinputtimelastsale : [-inf, 9.0, 162.0, inf]
educationinstitutionprivate
0.0
educationinstitutionprivate : [-inf, 0.08845863716369122, inf]
addrinputblockratio
0.0
addrinputblockratio : [-inf, 0.109999999, 0.709999979, 1.00999999, 1.19000006, 1.48000002, inf]
addrcurrentlengthofres
1.0
addrcurrentlengthofres : [-inf, 9.0, 20.0, 35.0, 98.0, 166.0, 242.0, inf]
addrcurrentavmratio12monthprior
0.01
addrcurrentavmratio12monthprior : [-inf, 1.33000004, inf]
addrcurrentblockratio
0.0
addrcurrentblockratio : [-inf, 0.109999999, 0.709999979, 0.879999995, 1.01999998, 1.40999997, inf]
derogcount
0.0
derogcount : [-inf, 1.0, inf]
profliccount
0.0
profliccount : [-inf, 0.04541214122774165, inf]
addrinputavmratio60monthprior
0.01
addrinputavmratio60monthprior : [-inf, 1.51999998, 1.69000006, inf]
addrcurrentcountyratio
0.0
addrcurrentcountyratio : [-inf, 0.550000012, 0.889999986, 1.04999995, 1.37, inf]
assetpropsaletimeoldest
1.0
assetpropsaletimeoldest : [-inf, 42.0, 130.0, 167.0, 237.0, inf]
subjectrecordtimeoldest
1.0
subjectrecordtimeoldest : [-inf, 64.0, 122.0, 177.0, 253.0, 351.0, 425.0, inf]
addrcurrenttimenewest
1.0
addrcurrenttimenewest : [-inf, 4.755101203501094, inf]
criminalnonfelonytimenewest
1.0
criminalnonfelonytimenewest : [-inf, 36.0, 47.0, 76.0, inf]
lienjudgmentdollartotal
0.0
lienjudgmentdollartotal : [-inf, 683.8051615539138, inf]
addrcurrentlastsalesprice
1.0
addrcurrentlastsalesprice : [-inf, 83000.0, 121000.0, 205145.0, 349900.0, inf]
addrinputtimenewest
1.0
addrinputtimenewest : [-inf, 2.5810212804518886, inf]
evictiontimenewest
1.0
evictiontimenewest : [-inf, 8.0, 17.0, 64.0, inf]
bankruptcycount
0.0
bankruptcycount : [-inf, 0.03516393721698274, inf]
addrcurrenttimelastsale
1.0
addrcurrenttimelastsale : [-inf, 9.0, 163.0, inf]
addrinputtimeoldest
1.0
addrinputtimeoldest : [-inf, 10.0, 24.0, 49.0, 76.0, 115.0, 163.0, 245.0, inf]
addrlastmovetaxratiodiff
0.0
addrlastmovetaxratiodiff : [-inf, 0.1661151634543712, inf]
criminalnonfelonycount
0.0
criminalnonfelonycount : [-inf, 0.016397126417214258, inf]
sourcenonderogcount03month
0.0
sourcenonderogcount03month : [-inf, 2.0, inf]
addrchangecount03month
0.0
addrchangecount03month : [-inf, 0.0404208232610398, inf]
addrchangecount06month
0.0
addrchangecount06month : [-inf, 0.08647986108746723, inf]
addrchangecount12month
0.0
addrchangecount12month : [-inf, 1.0, inf]
addrchangecount60month
0.0
addrchangecount60month : [-inf, 1.0, 2.0, inf]
addrcurrentavmratio60monthprior
0.01
addrcurrentavmratio60monthprior : [-inf, 1.37, 1.47000003, 1.65999997, inf]
addrcurrentavmvalue12month
1692.0
addrcurrentavmvalue12month : [-inf, 76843.0, 213499.0, 257874.0, 334458.0, inf]
addrcurrentavmvalue60month
1169.0
addrcurrentavmvalue60month : [-inf, 69000.0, 157202.0, 190129.0, 246900.0, 364000.0, inf]
addrcurrentcorrectional
0.0
addrcurrentcorrectional : [-inf, 0.0, inf]
addrcurrenttimeoldest
1.0
addrcurrenttimeoldest : [-inf, 17.0, 36.0, 55.0, 99.0, 165.0, 242.0, inf]
addrinputavmratio12monthprior
0.01
addrinputavmratio12monthprior : [-inf, 1.33000004, inf]
addrinputavmvalue12month
1692.0
addrinputavmvalue12month : [-inf, 84269.0, 130000.0, 201863.0, 256476.0, 313290.0, 433378.0, inf]
addrpreviouscorrectional
0.0
addrpreviouscorrectional : [-inf, 0.0, inf]
addrprevioustimeoldest
1.0
addrprevioustimeoldest : [-inf, 22.0, 57.0, 89.0, 136.0, 190.0, 247.0, inf]
assetpersonalcount
0.0
assetpersonalcount : [-inf, 0.20281229784481292, inf]
assetproppurchasecount12month
0.0
assetproppurchasecount12month : [-inf, 0.07415477852303293, inf]
assetproppurchasetimenewest
1.0
assetproppurchasetimenewest : [-inf, 117.0, inf]
assetpropsalepurchaseratio
0.0
assetpropsalepurchaseratio : [-inf, 0.14479563639363194, inf]
assetpropsaletimenewest
1.0
assetpropsaletimenewest : [-inf, 52.0, 101.0, inf]
assetpropsoldcount12month
0.0
assetpropsoldcount12month : [-inf, 0.028048074631439174, inf]
bankruptcycount24month
0.0
bankruptcycount24month : [-inf, 0.004936842463654625, inf]
bankruptcydismissed24month
0.0
bankruptcydismissed24month : [-inf, 0.00018385482278437915, inf]
bankruptcytimenewest
1.0
bankruptcytimenewest : [-inf, 22.0, 40.0, 49.0, 58.0, 68.0, inf]
criminalfelonycount
0.0
criminalfelonycount : [-inf, 0.0030370092948827075, inf]
criminalfelonycount12month
0.0
criminalfelonycount12month : [-inf, 0.00014299819549896156, inf]
criminalfelonytimenewest
1.0
criminalfelonytimenewest : [-inf, 31.0, 62.0, 69.0, 76.0, inf]
criminalnonfelonycount12month
0.0
criminalnonfelonycount12month : [-inf, 0.0009260835518027987, inf]
derogcount12month
0.0
derogcount12month : [-inf, 0.014109155289230874, inf]
evictioncount
0.0
evictioncount : [-inf, 0.004943651901535528, inf]
evictioncount12month
0.0
evictioncount12month : [-inf, 0.0005243267168295257, inf]
lienjudgmentcount
0.0
lienjudgmentcount : [-inf, 0.10116100915869394, inf]
lienjudgmentcount12month
0.0
lienjudgmentcount12month : [-inf, 0.011140240373157195, inf]
lienjudgmentcourtcount
0.0
lienjudgmentcourtcount : [-inf, 0.018508052160294167, inf]
lienjudgmentforeclosurecount
0.0
lienjudgmentforeclosurecount : [-inf, 0.0, inf]
lienjudgmentothercount
0.0
lienjudgmentothercount : [-inf, 0.0014436008307514214, inf]
lienjudgmentsmallclaimscount
0.0
lienjudgmentsmallclaimscount : [-inf, 0.016880596506758366, inf]
lienjudgmenttaxcount
0.0
lienjudgmenttaxcount : [-inf, 0.06432875966089, inf]
lienjudgmenttimenewest
1.0
lienjudgmenttimenewest : [-inf, 12.0, 75.0, inf]
sourcecredheadertimenewest
1.0
sourcecredheadertimenewest : [-inf, 2.5245242031341797, inf]
subjectrecordtimenewest
1.0
subjectrecordtimenewest : [-inf, 1.6045840581193083, inf]

In [37]:
with open(f'{path_mono}feature_boundaries.pickle', 'wb') as f:
    pickle.dump(feature_boundaries, f)

In [29]:
feature_meta= pd.read_pickle(f'{path_mono}feature_meta.pickle')
feature_boundaries= pd.read_pickle(f'{path_mono}feature_boundaries.pickle')
numeric_df= pd.read_pickle(f'{path_mono}numeric_df.pickle')
embed_df= pd.read_pickle(f'{path_mono}embed_df.pickle')

In [32]:
# Get train bivar tables + get binned train dataframe
bivar_tables, rep_values, binned_df = get_bivar_tables(filename=Train, predicted=None,
                                                           feature_meta=feature_meta,
                                                           feature_boundaries=feature_boundaries,
                                                           num_features=numeric_df.loc[numeric_df['Use_Feature'] == 'Y', 'Feature_Name'].tolist(),
                                                           embed_features=embed_df.loc[embed_df['Use_Feature'] == 'Y', 'Feature_Name'].tolist(),
                                                           dep_var=dep_var, weight_column=None)

assetpropevercount
sourcenonderogcount06month
addronfilecount
addrinputcountyratio
assetpropnewestsaleprice
addrcurrenttaxvalue
addrinputavmvalue
addrinputavmvalue60month
addrinputlastsaleprice
addrinputtaxmarketvalue
sourcecredheadertimeoldest
addrinputphonecount
assetpropcurrenttaxtotal
addrcurrentavmvalue
assetproppurchasetimeoldest
addrpreviouslengthofres
addrinputlengthofres
addrcurrenttaxmarketvalue
addrprevioustimenewest
addrcurrenttractratio
sourcenonderogcount12month
assetpropcurrentcount
addrinputsubjectcount
sourcenonderogcount
addrinputtaxvalue
assetpropeversoldcount
businessassociationtimeoldest
addrinputtractratio
derogtimenewest
addrchangecount24month
addrinputtimelastsale
educationinstitutionprivate
addrinputblockratio
addrcurrentlengthofres
addrcurrentavmratio12monthprior
addrcurrentblockratio
derogcount
profliccount
addrinputavmratio60monthprior
addrcurrentcountyratio
assetpropsaletimeoldest
subjectrecordtimeoldest
addrcurrenttimenewest
criminalnonfelonytimenewest
lienjudgmentdollartotal
addrcurrentlastsalesprice
addrinputtimenewest
evictiontimenewest
bankruptcycount
addrcurrenttimelastsale
addrinputtimeoldest
addrlastmovetaxratiodiff
criminalnonfelonycount
sourcenonderogcount03month
addrchangecount03month
addrchangecount06month
addrchangecount12month
addrchangecount60month
addrcurrentavmratio60monthprior
addrcurrentavmvalue12month
addrcurrentavmvalue60month
addrcurrentcorrectional
addrcurrenttimeoldest
addrinputavmratio12monthprior
addrinputavmvalue12month
addrpreviouscorrectional
addrprevioustimeoldest
assetpersonalcount
assetproppurchasecount12month
assetproppurchasetimenewest
assetpropsalepurchaseratio
assetpropsaletimenewest
assetpropsoldcount12month
bankruptcycount24month
bankruptcydismissed24month
bankruptcytimenewest
criminalfelonycount
criminalfelonycount12month
criminalfelonytimenewest
criminalnonfelonycount12month
derogcount12month
evictioncount
evictioncount12month
lienjudgmentcount
lienjudgmentcount12month
lienjudgmentcourtcount
lienjudgmentforeclosurecount
lienjudgmentothercount
lienjudgmentsmallclaimscount
lienjudgmenttaxcount
lienjudgmenttimenewest
sourcecredheadertimenewest
subjectrecordtimenewest
businesstitleleadership
businesstitleleadership
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]     2091.0  129958  0.016090  127867.0
0          33.0    3473  0.009502    3440.0
1          31.0    3717  0.008340    3686.0
2          72.0    9707  0.007417    9635.0
proflictypecategory
proflictypecategory
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]     2134.0  135620  0.015735  133486.0
0          19.0    1493  0.012726    1474.0
1          24.0    1903  0.012612    1879.0
5           1.0     674  0.001484     673.0
2          22.0    3105  0.007085    3083.0
3          27.0    3063  0.008815    3036.0
4           0.0     997  0.000000     997.0
addrcurrentdeedmailing
addrcurrentdeedmailing
COunt....
           bads  counts      rate    goods
bins
Missing     0.0       0  0.000000      0.0
[-1]      619.0   22641  0.027340  22022.0
0        1115.0  100934  0.011047  99819.0
1         493.0   23280  0.021177  22787.0
addrcurrentphoneservice
addrcurrentphoneservice
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2002.0  122629  0.016326  120627.0
1         225.0   24226  0.009288   24001.0
addrcurrentsubjectowned
addrcurrentsubjectowned
COunt....
           bads  counts      rate    goods
bins
Missing     0.0       0  0.000000      0.0
[-1]      619.0   22641  0.027340  22022.0
0        1217.0   54479  0.022339  53262.0
1         391.0   69735  0.005607  69344.0
addrinputdeedmailing
addrinputdeedmailing
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]      648.0   23727  0.027311   23079.0
0        1132.0  101337  0.011171  100205.0
1         447.0   21791  0.020513   21344.0
addrinputphoneservice
addrinputphoneservice
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       1  0.000000       1.0
0        2002.0  122628  0.016326  120626.0
1         225.0   24226  0.009288   24001.0
addrinputproblems
addrinputproblems
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       1  0.000000       1.0
0        2127.0  142496  0.014927  140369.0
1          10.0     609  0.016420     599.0
2          83.0    3560  0.023315    3477.0
3           2.0      98  0.020408      96.0
4           5.0      91  0.054945      86.0
addrinputsubjectowned
addrinputsubjectowned
COunt....
           bads  counts      rate    goods
bins
Missing     0.0       0  0.000000      0.0
[-1]      648.0   23727  0.027311  23079.0
0        1192.0   52720  0.022610  51528.0
1         387.0   70408  0.005497  70021.0
addrlastmoveecontrajectory
addrlastmoveecontrajectory
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
11       151.0   11250  0.013422  11099.0
7         12.0     264  0.045455    252.0
6          9.0     546  0.016484    537.0
10       216.0   13049  0.016553  12833.0
12       109.0    7524  0.014487   7415.0
8        189.0    7651  0.024703   7462.0
0        173.0    6266  0.027609   6093.0
1        755.0   73447  0.010280  72692.0
2        104.0    2968  0.035040   2864.0
5         11.0     332  0.033133    321.0
9        148.0    9275  0.015957   9127.0
3        154.0    5123  0.030061   4969.0
4        196.0    9160  0.021397   8964.0
addronfilecollege
addronfilecollege
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2208.0  144927  0.015235  142719.0
1          19.0    1928  0.009855    1909.0
addronfilecorrectional
addronfilecorrectional
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2227.0  146851  0.015165  144624.0
1           0.0       4  0.000000       4.0
addronfilehighrisk
addronfilehighrisk
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2226.0  146823  0.015161  144597.0
1           1.0      32  0.031250      31.0
addrprevioussubjectowned
addrprevioussubjectowned
COunt....
           bads  counts      rate    goods
bins
Missing     0.0       0  0.000000      0.0
[-1]      946.0   46703  0.020256  45757.0
1        1196.0   85078  0.014058  83882.0
2          12.0    2274  0.005277   2262.0
3          73.0   12800  0.005703  12727.0
alertregulatorycondition
alertregulatorycondition
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
1        2128.0  141937  0.014993  139809.0
2          99.0    4918  0.020130    4819.0
assetownership
assetownership
COunt....
           bads  counts      rate    goods
bins
Missing     0.0       0  0.000000      0.0
[-1]        0.0       0  0.000000      0.0
0        1606.0   54162  0.029652  52556.0
1         621.0   92693  0.006700  92072.0
assetpersonal
assetpersonal
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2175.0  133649  0.016274  131474.0
1          52.0   13206  0.003938   13154.0
assetprop
assetprop
COunt....
           bads  counts      rate    goods
bins
Missing     0.0       0  0.000000      0.0
[-1]        0.0       0  0.000000      0.0
0        1622.0   56271  0.028825  54649.0
1         605.0   90584  0.006679  89979.0
assetpropnewestmortgagetype
assetpropnewestmortgagetype
COunt....
           bads  counts      rate    goods
bins
Missing     0.0       0  0.000000      0.0
[-1]     1802.0   73120  0.024644  71318.0
0         395.0   70461  0.005606  70066.0
1          10.0    1241  0.008058   1231.0
2          20.0    2033  0.009838   2013.0
bankruptcychapter
bankruptcychapter
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       3  0.000000       3.0
0        2128.0  141943  0.014992  139815.0
1          82.0    3731  0.021978    3649.0
2          17.0    1178  0.014431    1161.0
bankruptcystatus
bankruptcystatus
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        2.0      32  0.062500      30.0
0        2128.0  141943  0.014992  139815.0
1          84.0    4543  0.018490    4459.0
2          13.0     337  0.038576     324.0
businessassociation
businessassociation
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2091.0  129958  0.016090  127867.0
1         136.0   16897  0.008049   16761.0
educationattendance
educationattendance
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2068.0  126776  0.016312  124708.0
1         159.0   20079  0.007919   19920.0
educationevidence
educationevidence
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2026.0  121690  0.016649  119664.0
1         201.0   25165  0.007987   24964.0
educationinstitutionrating
educationinstitutionrating
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
6          22.0    1562  0.014085    1540.0
0        2125.0  130954  0.016227  128829.0
1           1.0     292  0.003425     291.0
5          24.0    2835  0.008466    2811.0
2          12.0    1816  0.006608    1804.0
3          20.0    4960  0.004032    4940.0
4          23.0    4436  0.005185    4413.0
educationprogramattended
educationprogramattended
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2091.0  128159  0.016316  126068.0
1          40.0    4000  0.010000    3960.0
3           0.0      13  0.000000      13.0
2          96.0   14683  0.006538   14587.0
inquiryauto12month
inquiryauto12month
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        1496.0  130194  0.011491  128698.0
1         731.0   16661  0.043875   15930.0
inquirybanking12month
inquirybanking12month
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        1652.0  122121  0.013528  120469.0
1         575.0   24734  0.023247   24159.0
inquirycollections12month
inquirycollections12month
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2214.0  146447  0.015118  144233.0
1          13.0     408  0.031863     395.0
inquirynonshortterm12month
inquirynonshortterm12month
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        1156.0  108246  0.010679  107090.0
1        1071.0   38609  0.027740   37538.0
inquiryshortterm12month
inquiryshortterm12month
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2005.0  143630  0.013959  141625.0
1         222.0    3225  0.068837    3003.0
inquirytelcom12month
inquirytelcom12month
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2085.0  144522  0.014427  142437.0
1         142.0    2333  0.060866    2191.0
shorttermloanrequest
shorttermloanrequest
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2216.0  146401  0.015137  144185.0
1          11.0     454  0.024229     443.0
shorttermloanrequest12month
shorttermloanrequest12month
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2226.0  146798  0.015164  144572.0
1           1.0      57  0.017544      56.0
shorttermloanrequest24month
shorttermloanrequest24month
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0        2225.0  146745  0.015162  144520.0
1           2.0     110  0.018182     108.0
sourcevoterregistration
sourcevoterregistration
COunt....
           bads  counts      rate    goods
bins
Missing     0.0       0  0.000000      0.0
[-1]        0.0       0  0.000000      0.0
0        1841.0   98685  0.018655  96844.0
1         386.0   48170  0.008013  47784.0
subjectnewestrecord12month
subjectnewestrecord12month
COunt....
           bads  counts      rate     goods
bins
Missing     0.0       0  0.000000       0.0
[-1]        0.0       0  0.000000       0.0
0          34.0    1688  0.020142    1654.0
1        2193.0  145167  0.015107  142974.0

In [33]:
binned_df.head(2)

,unique_id,client,app_date,approve_flag,funded_flag,fico_pb,fico_cb,bad_flag,product,auto_score,bankcard_score,Race,Gender,age_cuts,assetpropevercount,sourcenonderogcount06month,addronfilecount,addrinputcountyratio,assetpropnewestsaleprice,addrcurrenttaxvalue,addrinputavmvalue,addrinputavmvalue60month,addrinputlastsaleprice,addrinputtaxmarketvalue,sourcecredheadertimeoldest,addrinputphonecount,assetpropcurrenttaxtotal,addrcurrentavmvalue,assetproppurchasetimeoldest,addrpreviouslengthofres,addrinputlengthofres,addrcurrenttaxmarketvalue,addrprevioustimenewest,addrcurrenttractratio,sourcenonderogcount12month,assetpropcurrentcount,addrinputsubjectcount,sourcenonderogcount,addrinputtaxvalue,assetpropeversoldcount,businessassociationtimeoldest,addrinputtractratio,derogtimenewest,addrchangecount24month,addrinputtimelastsale,educationinstitutionprivate,addrinputblockratio,businesstitleleadership,addrcurrentlengthofres,addrcurrentavmratio12monthprior,addrcurrentblockratio,derogcount,profliccount,addrinputavmratio60monthprior,addrcurrentcountyratio,assetpropsaletimeoldest,subjectrecordtimeoldest,addrcurrenttimenewest,proflictypecategory,criminalnonfelonytimenewest,lienjudgmentdollartotal,addrcurrentlastsalesprice,addrinputtimenewest,evictiontimenewest,bankruptcycount,addrcurrenttimelastsale,addrinputtimeoldest,addrlastmovetaxratiodiff,criminalnonfelonycount,sourcenonderogcount03month,addrchangecount03month,addrchangecount06month,addrchangecount12month,addrchangecount60month,addrcurrentavmratio60monthprior,addrcurrentavmvalue12month,addrcurrentavmvalue60month,addrcurrentcorrectional,addrcurrentdeedmailing,addrcurrentphoneservice,addrcurrentsubjectowned,addrcurrenttimeoldest,addrinputavmratio12monthprior,addrinputavmvalue12month,addrinputdeedmailing,addrinputphoneservice,addrinputproblems,addrinputsubjectowned,addrlastmoveecontrajectory,addronfilecollege,addronfilecorrectional,addronfilehighrisk,addrpreviouscorrectional,addrprevioussubjectowned,addrprevioustimeoldest,alertregulatorycondition,assetownership,assetpersonal,assetpersonalcount,assetprop,assetpropnewestmortgagetype,assetproppurchasecount12month,assetproppurchasetimenewest,assetpropsalepurchaseratio,assetpropsaletimenewest,assetpropsoldcount12month,bankruptcychapter,bankruptcycount24month,bankruptcydismissed24month,bankruptcystatus,bankruptcytimenewest,businessassociation,criminalfelonycount,criminalfelonycount12month,criminalfelonytimenewest,criminalnonfelonycount12month,derogcount12month,educationattendance,educationevidence,educationinstitutionrating,educationprogramattended,evictioncount,evictioncount12month,inquiryauto12month,inquirybanking12month,inquirycollections12month,inquirynonshortterm12month,inquiryshortterm12month,inquirytelcom12month,lienjudgmentcount,lienjudgmentcount12month,lienjudgmentcourtcount,lienjudgmentforeclosurecount,lienjudgmentothercount,lienjudgmentsmallclaimscount,lienjudgmenttaxcount,lienjudgmenttimenewest,shorttermloanrequest,shorttermloanrequest12month,shorttermloanrequest24month,sourcecredheadertimenewest,sourcevoterregistration,subjectnewestrecord12month,subjectrecordtimenewest,wt2
0,319468,Tower,2017-04-13,1.0,1.0,857.0,NaN,0.0,Auto,777.0,789.0,white,M,Age 62 and over,"[1.0, 2.0)","[-inf, 2.0)","[-inf, 10.0)","[0.85, 1.01)",[-1],"[-inf, 510.0)","[280500.0, 363171.0)","[182000.0, 244673.0)","[120570.0, 208000.0)","[131500.0, 299200.0)","[421.0, inf)","[0.436, inf)","[15977.0, 324300.0)","[-inf, 90271.0)",[-1],"[-inf, 23.0)",[-1],"[-inf, 9000.0)","[159.0, inf)","[1.05, 1.47)","[-inf, 2.0)","[1.0, 2.0)","[2.0, inf)","[-inf, 2.0)","[246800.0, inf)","[-inf, 1.0)",[-1],"[0.91, 1.03)",[-1],"[-inf, 1.0)",[-1],[-1],"[1.01, 1.19)",[-1],"[-inf, 9.0)","[-inf, 1.33)","[1.02, 1.41)","[-inf, 1.0)","[-inf, 0.0454)","[-inf, 1.52)","[0.55, 0.89)",[-1],"[425.0, inf)","[4.755, inf)",[-1],[-1],"[-inf, 683.805)",[-1],[-1],[-1],"[-inf, 0.0352)",[-1],[-1],[-1],"[-inf, 0.0164)","[-inf, 2.0)","[-inf, 0.0404)","[-inf, 0.0865)","[-inf, 1.0)","[-inf, 1.0)","[1.66, inf)","[-inf, 76843.0)","[-inf, 69000.0)","[0.0, inf)",0,1,0,"[242.0, inf)","[-inf, 1.33)","[256476.0, 313290.0)",0,1,0,1,1,0,0,0,"[0.0, inf)",1,"[247.0, inf)",1,1,0,"[-inf, 0.203)",1,[-1],"[-inf, 0.0742)",[-1],"[-inf, 0.145)",[-1],"[-inf, 0.028)",0,"[-inf, 0.00494)","[-inf, 0.000184)",0,[-1],0,"[-inf, 0.00304)","[-inf, 0.000143)",[-1],"[-inf, 0.000926)","[-inf, 0.0141)",0,0,0,0,"[-inf, 0.00494)","[-inf, 0.000524)",0,0,0,0,0,0,"[-inf, 0.101)","[-inf, 0.0111)","[-inf, 0.0185)","[0.0, inf)","[-inf, 0.00144)","[-inf, 0.0169)","[-inf, 0.0643)",[-1],0,0,0,"[2.525, inf)",0,0,"[1.605, inf)",1.391879
1,2018-06-21 11:01|521-72-3097,GESA,2018-06-21,1.0,1.0,711.0,NaN,0.0,Auto,691.0,793.0,white,F,Age below 62,"[2.0, 3.0)","[2.0, inf)","[-inf, 10.0)","[0.55, 0.85)",[-1],"[-inf, 510.0)","[363171.0, 466923.0)","[244673.0, 363163.0)","[208000.0, 349001.0)","[131500.0, 299200.0)","[-inf, 61.0)","[0.436, inf)","[15977.0, 324300.0)","[90271.0, 143000.0)","[29.0, 162.0)","[126.0, inf)","[166.0, 244.0)","[-inf, 9000.0)","[-inf, 15.0)","[0.11, 0.72)","[2.0, inf)","[2.0, inf)","[-inf, 1.0)","[2.0, 3.0)","[246800.0, inf)","[-inf, 1.0)","[15.0, 77.0)","[0.77, 0.91)",[-1],"[-inf, 1.0)","[9.0, 162.0)",[-1],"[0.71, 1.01)",2,"[35.0, 98.0)","[-inf, 1.33)","[0.11, 0.71)","[-inf, 1.0)","[-inf, 0.0454)","[-inf, 1.52)","[-inf, 0.55)",[-1],"[177.0, 253.0)","[-inf, 4.755)",[-1],[-1],"[-inf, 683.805)",[-1],"[-inf, 2.581)",[-1],"[-inf, 0.0352)",[-1],"[163.0, 245.0)",[-1],"[-inf, 0.0164)","[2.0, inf)","[-inf, 0.0404)","[-inf, 0.0865)","[-inf, 1.0)","[1.0, 2.0)","[1.37, 1.47)","[76843.0, 213499.0)","[-inf, 69000.0)","[0.0, inf)",0,0,0,"[36.0, 55.0)","[-inf, 1.33)","[256476.0, 313290.0)",0,0,0,1,9,0,0,0,"[0.0, inf)",3,"[136.0, 190.0)",1,1,0,"[-inf, 0.203)",1,0,"[-inf, 0.0742)","[-inf, 117.0)","[-inf, 0.145)",[-1],"[-inf, 0.028)",0,"[-inf, 0.00494)","[-inf, 0.000184)",0,[-1],1,"[-inf, 0.00304)","[-inf, 0.000143)",[-1],"[-inf, 0.000926)","[-inf, 0.0141)",0,0,0,0,"[-inf, 0.00494)","[-inf, 0.000524)",1,0,0,1,0,0,"[-inf, 0.101)","[-inf, 0.0111)","[-inf, 0.0185)","[0.0, inf)","[-inf, 0.00144)","[-inf, 0.0169)","[-inf, 0.0643)",[-1],0,0,0,"[-inf, 2.525)",0,1,"[-inf, 1.605)",1.646592

In [34]:
for var in var_to_cat:
    display(binned_df[var].value_counts(dropna= False).reset_index())

  inquirynonshortterm12month   count
0                          0  108246
1                          1   38609

   addrlastmoveecontrajectory  count
0                           1  73447
1                          10  13049
2                          11  11250
3                           9   9275
4                           4   9160
5                           8   7651
6                          12   7524
7                           0   6266
8                           3   5123
9                           2   2968
10                          6    546
11                          5    332
12                          7    264

  addrinputsubjectowned  count
0                     1  70408
1                     0  52720
2                  [-1]  23727

  inquiryauto12month   count
0                  0  130194
1                  1   16661

  addronfilehighrisk   count
0                  0  146823
1                  1      32

  inquirytelcom12month   count
0                    0  144522
1                    1    2333

  educationattendance   count
0                   0  126776
1                   1   20079

  addronfilecorrectional   count
0                      0  146851
1                      1       4

  businesstitleleadership   count
0                    [-1]  129958
1                       2    9707
2                       1    3717
3                       0    3473

  educationinstitutionrating   count
0                          0  130954
1                          3    4960
2                          4    4436
3                          5    2835
4                          2    1816
5                          6    1562
6                          1     292

  assetpersonal   count
0             0  133649
1             1   13206

  addrcurrentdeedmailing   count
0                      0  100934
1                      1   23280
2                   [-1]   22641

  addrprevioussubjectowned  count
0                        1  85078
1                     [-1]  46703
2                        3  12800
3                        2   2274

  addrinputphoneservice   count
0                     0  122628
1                     1   24226
2                  [-1]       1

  assetownership  count
0              1  92693
1              0  54162

  educationevidence   count
0                 0  121690
1                 1   25165

  educationprogramattended   count
0                        0  128159
1                        2   14683
2                        1    4000
3                        3      13

  businessassociation   count
0                   0  129958
1                   1   16897

  shorttermloanrequest12month   count
0                           0  146798
1                           1      57

  alertregulatorycondition   count
0                        1  141937
1                        2    4918

  assetprop  count
0         1  90584
1         0  56271

  subjectnewestrecord12month   count
0                          1  145167
1                          0    1688

  assetpropnewestmortgagetype  count
0                        [-1]  73120
1                           0  70461
2                           2   2033
3                           1   1241

  addrinputproblems   count
0                 0  142496
1                 2    3560
2                 1     609
3                 3      98
4                 4      91
5              [-1]       1

  addronfilecollege   count
0                 0  144927
1                 1    1928

  bankruptcystatus   count
0                0  141943
1                1    4543
2                2     337
3             [-1]      32

  addrinputdeedmailing   count
0                    0  101337
1                 [-1]   23727
2                    1   21791

  proflictypecategory   count
0                [-1]  135620
1                   2    3105
2                   3    3063
3                   1    1903
4                   0    1493
5                   4     997
6                   5     674

  shorttermloanrequest   count
0                    0  146401
1                    1     454

  bankruptcychapter   count
0                 0  141943
1                 1    3731
2                 2    1178
3              [-1]       3

  addrcurrentphoneservice   count
0                       0  122629
1                       1   24226

  shorttermloanrequest24month   count
0                           0  146745
1                           1     110

  sourcevoterregistration  count
0                       0  98685
1                       1  48170

  inquirycollections12month   count
0                         0  146447
1                         1     408

  inquirybanking12month   count
0                     0  122121
1                     1   24734

  inquiryshortterm12month   count
0                       0  143630
1                       1    3225

  addrcurrentsubjectowned  count
0                       1  69735
1                       0  54479
2                    [-1]  22641

In [35]:
# Get train bivar tables + get binned train dataframe
bivar_tables_holdout, rep_values_holdout, binned_df_holdout = get_bivar_tables(filename=Test, predicted=None,
                                                           feature_meta=feature_meta,
                                                           feature_boundaries=feature_boundaries,
                                                           num_features=numeric_df.loc[numeric_df['Use_Feature'] == 'Y', 'Feature_Name'].tolist(),
                                                           embed_features=embed_df.loc[embed_df['Use_Feature'] == 'Y', 'Feature_Name'].tolist(),
                                                           dep_var=dep_var, weight_column=None)

assetpropevercount
sourcenonderogcount06month
addronfilecount
addrinputcountyratio
assetpropnewestsaleprice
addrcurrenttaxvalue
addrinputavmvalue
addrinputavmvalue60month
addrinputlastsaleprice
addrinputtaxmarketvalue
sourcecredheadertimeoldest
addrinputphonecount
assetpropcurrenttaxtotal
addrcurrentavmvalue
assetproppurchasetimeoldest
addrpreviouslengthofres
addrinputlengthofres
addrcurrenttaxmarketvalue
addrprevioustimenewest
addrcurrenttractratio
sourcenonderogcount12month
assetpropcurrentcount
addrinputsubjectcount
sourcenonderogcount
addrinputtaxvalue
assetpropeversoldcount
businessassociationtimeoldest
addrinputtractratio
derogtimenewest
addrchangecount24month
addrinputtimelastsale
educationinstitutionprivate
addrinputblockratio
addrcurrentlengthofres
addrcurrentavmratio12monthprior
addrcurrentblockratio
derogcount
profliccount
addrinputavmratio60monthprior
addrcurrentcountyratio
assetpropsaletimeoldest
subjectrecordtimeoldest
addrcurrenttimenewest
criminalnonfelonytimenewest
lienjudgmentdollartotal
addrcurrentlastsalesprice
addrinputtimenewest
evictiontimenewest
bankruptcycount
addrcurrenttimelastsale
addrinputtimeoldest
addrlastmovetaxratiodiff
criminalnonfelonycount
sourcenonderogcount03month
addrchangecount03month
addrchangecount06month
addrchangecount12month
addrchangecount60month
addrcurrentavmratio60monthprior
addrcurrentavmvalue12month
addrcurrentavmvalue60month
addrcurrentcorrectional
addrcurrenttimeoldest
addrinputavmratio12monthprior
addrinputavmvalue12month
addrpreviouscorrectional
addrprevioustimeoldest
assetpersonalcount
assetproppurchasecount12month
assetproppurchasetimenewest
assetpropsalepurchaseratio
assetpropsaletimenewest
assetpropsoldcount12month
bankruptcycount24month
bankruptcydismissed24month
bankruptcytimenewest
criminalfelonycount
criminalfelonycount12month
criminalfelonytimenewest
criminalnonfelonycount12month
derogcount12month
evictioncount
evictioncount12month
lienjudgmentcount
lienjudgmentcount12month
lienjudgmentcourtcount
lienjudgmentforeclosurecount
lienjudgmentothercount
lienjudgmentsmallclaimscount
lienjudgmenttaxcount
lienjudgmenttimenewest
sourcecredheadertimenewest
subjectrecordtimenewest
businesstitleleadership
businesstitleleadership
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]     900.0   55769  0.016138  54869.0
0         16.0    1451  0.011027   1435.0
1         14.0    1562  0.008963   1548.0
2         29.0    4156  0.006978   4127.0
proflictypecategory
proflictypecategory
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]     915.0   58063  0.015759  57148.0
0          5.0     610  0.008197    605.0
1         13.0     856  0.015187    843.0
5          1.0     297  0.003367    296.0
2         13.0    1303  0.009977   1290.0
3         11.0    1360  0.008088   1349.0
4          1.0     449  0.002227    448.0
addrcurrentdeedmailing
addrcurrentdeedmailing
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]     261.0    9788  0.026665   9527.0
0        459.0   43089  0.010652  42630.0
1        239.0   10061  0.023755   9822.0
addrcurrentphoneservice
addrcurrentphoneservice
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        871.0   52496  0.016592  51625.0
1         88.0   10442  0.008428  10354.0
addrcurrentsubjectowned
addrcurrentsubjectowned
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]     261.0    9788  0.026665   9527.0
0        537.0   23109  0.023238  22572.0
1        161.0   30041  0.005359  29880.0
addrinputdeedmailing
addrinputdeedmailing
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]     261.0   10185  0.025626   9924.0
0        482.0   43474  0.011087  42992.0
1        216.0    9279  0.023278   9063.0
addrinputphoneservice
addrinputphoneservice
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        871.0   52496  0.016592  51625.0
1         88.0   10442  0.008428  10354.0
addrinputproblems
addrinputproblems
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        931.0   61038  0.015253  60107.0
1          2.0     267  0.007491    265.0
2         24.0    1557  0.015414   1533.0
3          2.0      37  0.054054     35.0
4          0.0      39  0.000000     39.0
addrinputsubjectowned
addrinputsubjectowned
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]     261.0   10185  0.025626   9924.0
0        537.0   22414  0.023958  21877.0
1        161.0   30339  0.005307  30178.0
addrlastmoveecontrajectory
addrlastmoveecontrajectory
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
11        56.0    4835  0.011582   4779.0
7          3.0     100  0.030000     97.0
6          6.0     239  0.025105    233.0
10        90.0    5531  0.016272   5441.0
12        43.0    3265  0.013170   3222.0
8         92.0    3278  0.028066   3186.0
0         70.0    2669  0.026227   2599.0
1        294.0   31550  0.009319  31256.0
2         53.0    1260  0.042063   1207.0
5          6.0     151  0.039735    145.0
9         68.0    3848  0.017672   3780.0
3         69.0    2175  0.031724   2106.0
4        109.0    4037  0.027000   3928.0
addronfilecollege
addronfilecollege
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        947.0   62002  0.015274  61055.0
1         12.0     936  0.012821    924.0
addronfilecorrectional
addronfilecorrectional
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        959.0   62937  0.015237  61978.0
1          0.0       1  0.000000      1.0
addronfilehighrisk
addronfilehighrisk
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        959.0   62920  0.015242  61961.0
1          0.0      18  0.000000     18.0
addrprevioussubjectowned
addrprevioussubjectowned
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]     422.0   20316  0.020772  19894.0
1        500.0   36221  0.013804  35721.0
2          2.0     955  0.002094    953.0
3         35.0    5446  0.006427   5411.0
alertregulatorycondition
alertregulatorycondition
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
1        928.0   60826  0.015257  59898.0
2         31.0    2112  0.014678   2081.0
assetownership
assetownership
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        691.0   23119  0.029889  22428.0
1        268.0   39819  0.006730  39551.0
assetpersonal
assetpersonal
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        932.0   57311  0.016262  56379.0
1         27.0    5627  0.004798   5600.0
assetprop
assetprop
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        702.0   23987  0.029266  23285.0
1        257.0   38951  0.006598  38694.0
assetpropnewestmortgagetype
assetpropnewestmortgagetype
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]     777.0   31167  0.024930  30390.0
0        172.0   30289  0.005679  30117.0
1          4.0     524  0.007634    520.0
2          6.0     958  0.006263    952.0
bankruptcychapter
bankruptcychapter
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        928.0   60829  0.015256  59901.0
1         24.0    1590  0.015094   1566.0
2          7.0     519  0.013487    512.0
bankruptcystatus
bankruptcystatus
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0      11  0.000000     11.0
0        928.0   60829  0.015256  59901.0
1         27.0    1941  0.013910   1914.0
2          4.0     157  0.025478    153.0
businessassociation
businessassociation
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        900.0   55769  0.016138  54869.0
1         59.0    7169  0.008230   7110.0
educationattendance
educationattendance
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        896.0   54295  0.016502  53399.0
1         63.0    8643  0.007289   8580.0
educationevidence
educationevidence
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        877.0   52025  0.016857  51148.0
1         82.0   10913  0.007514  10831.0
educationinstitutionrating
educationinstitutionrating
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
6         15.0     680  0.022059    665.0
0        913.0   56099  0.016275  55186.0
1          0.0     115  0.000000    115.0
5         13.0    1218  0.010673   1205.0
2          4.0     805  0.004969    801.0
3          7.0    2161  0.003239   2154.0
4          7.0    1860  0.003763   1853.0
educationprogramattended
educationprogramattended
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        904.0   54916  0.016462  54012.0
1         19.0    1743  0.010901   1724.0
3          0.0       6  0.000000      6.0
2         36.0    6273  0.005739   6237.0
inquiryauto12month
inquiryauto12month
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        647.0   55716  0.011612  55069.0
1        312.0    7222  0.043201   6910.0
inquirybanking12month
inquirybanking12month
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        714.0   52334  0.013643  51620.0
1        245.0   10604  0.023104  10359.0
inquirycollections12month
inquirycollections12month
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        950.0   62765  0.015136  61815.0
1          9.0     173  0.052023    164.0
inquirynonshortterm12month
inquirynonshortterm12month
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        495.0   46295  0.010692  45800.0
1        464.0   16643  0.027880  16179.0
inquiryshortterm12month
inquiryshortterm12month
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        882.0   61551  0.014330  60669.0
1         77.0    1387  0.055516   1310.0
inquirytelcom12month
inquirytelcom12month
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        903.0   61963  0.014573  61060.0
1         56.0     975  0.057436    919.0
shorttermloanrequest
shorttermloanrequest
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        955.0   62756  0.015218  61801.0
1          4.0     182  0.021978    178.0
shorttermloanrequest12month
shorttermloanrequest12month
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        959.0   62915  0.015243  61956.0
1          0.0      23  0.000000     23.0
shorttermloanrequest24month
shorttermloanrequest24month
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        959.0   62882  0.015251  61923.0
1          0.0      56  0.000000     56.0
sourcevoterregistration
sourcevoterregistration
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0        782.0   42109  0.018571  41327.0
1        177.0   20829  0.008498  20652.0
subjectnewestrecord12month
subjectnewestrecord12month
COunt....
          bads  counts      rate    goods
bins
Missing    0.0       0  0.000000      0.0
[-1]       0.0       0  0.000000      0.0
0         19.0     709  0.026798    690.0
1        940.0   62229  0.015105  61289.0

In [36]:
binned_df_holdout.head(2)

,unique_id,client,app_date,approve_flag,funded_flag,fico_pb,fico_cb,bad_flag,product,auto_score,bankcard_score,Race,Gender,age_cuts,assetpropevercount,sourcenonderogcount06month,addronfilecount,addrinputcountyratio,assetpropnewestsaleprice,addrcurrenttaxvalue,addrinputavmvalue,addrinputavmvalue60month,addrinputlastsaleprice,addrinputtaxmarketvalue,sourcecredheadertimeoldest,addrinputphonecount,assetpropcurrenttaxtotal,addrcurrentavmvalue,assetproppurchasetimeoldest,addrpreviouslengthofres,addrinputlengthofres,addrcurrenttaxmarketvalue,addrprevioustimenewest,addrcurrenttractratio,sourcenonderogcount12month,assetpropcurrentcount,addrinputsubjectcount,sourcenonderogcount,addrinputtaxvalue,assetpropeversoldcount,businessassociationtimeoldest,addrinputtractratio,derogtimenewest,addrchangecount24month,addrinputtimelastsale,educationinstitutionprivate,addrinputblockratio,businesstitleleadership,addrcurrentlengthofres,addrcurrentavmratio12monthprior,addrcurrentblockratio,derogcount,profliccount,addrinputavmratio60monthprior,addrcurrentcountyratio,assetpropsaletimeoldest,subjectrecordtimeoldest,addrcurrenttimenewest,proflictypecategory,criminalnonfelonytimenewest,lienjudgmentdollartotal,addrcurrentlastsalesprice,addrinputtimenewest,evictiontimenewest,bankruptcycount,addrcurrenttimelastsale,addrinputtimeoldest,addrlastmovetaxratiodiff,criminalnonfelonycount,sourcenonderogcount03month,addrchangecount03month,addrchangecount06month,addrchangecount12month,addrchangecount60month,addrcurrentavmratio60monthprior,addrcurrentavmvalue12month,addrcurrentavmvalue60month,addrcurrentcorrectional,addrcurrentdeedmailing,addrcurrentphoneservice,addrcurrentsubjectowned,addrcurrenttimeoldest,addrinputavmratio12monthprior,addrinputavmvalue12month,addrinputdeedmailing,addrinputphoneservice,addrinputproblems,addrinputsubjectowned,addrlastmoveecontrajectory,addronfilecollege,addronfilecorrectional,addronfilehighrisk,addrpreviouscorrectional,addrprevioussubjectowned,addrprevioustimeoldest,alertregulatorycondition,assetownership,assetpersonal,assetpersonalcount,assetprop,assetpropnewestmortgagetype,assetproppurchasecount12month,assetproppurchasetimenewest,assetpropsalepurchaseratio,assetpropsaletimenewest,assetpropsoldcount12month,bankruptcychapter,bankruptcycount24month,bankruptcydismissed24month,bankruptcystatus,bankruptcytimenewest,businessassociation,criminalfelonycount,criminalfelonycount12month,criminalfelonytimenewest,criminalnonfelonycount12month,derogcount12month,educationattendance,educationevidence,educationinstitutionrating,educationprogramattended,evictioncount,evictioncount12month,inquiryauto12month,inquirybanking12month,inquirycollections12month,inquirynonshortterm12month,inquiryshortterm12month,inquirytelcom12month,lienjudgmentcount,lienjudgmentcount12month,lienjudgmentcourtcount,lienjudgmentforeclosurecount,lienjudgmentothercount,lienjudgmentsmallclaimscount,lienjudgmenttaxcount,lienjudgmenttimenewest,shorttermloanrequest,shorttermloanrequest12month,shorttermloanrequest24month,sourcecredheadertimenewest,sourcevoterregistration,subjectnewestrecord12month,subjectrecordtimenewest,wt2
0,106069,Guardian,2021-06-01,1.0,1.0,800.0,NaN,0.0,Auto,726.0,748.0,missing,M,Age 62 and over,"[-inf, 1.0)","[-inf, 2.0)","[-inf, 10.0)","[0.55, 0.85)",[-1],"[-inf, 510.0)","[-inf, 97283.0)",[-1],[-1],"[-inf, 4900.0)","[421.0, inf)","[0.436, inf)",[-1],"[-inf, 90271.0)",[-1],"[126.0, inf)","[244.0, inf)","[-inf, 9000.0)","[43.0, 94.0)","[0.72, 0.91)","[-inf, 2.0)","[-inf, 1.0)","[2.0, inf)","[2.0, 3.0)","[-inf, 518.0)","[-inf, 1.0)",[-1],"[0.77, 0.91)",[-1],"[-inf, 1.0)",[-1],[-1],"[0.11, 0.71)",[-1],"[242.0, inf)","[-inf, 1.33)","[0.11, 0.71)","[-inf, 1.0)","[-inf, 0.0454)",[-1],"[0.55, 0.89)",[-1],"[425.0, inf)","[-inf, 4.755)",[-1],[-1],"[-inf, 683.805)",[-1],"[-inf, 2.581)",[-1],"[-inf, 0.0352)",[-1],"[245.0, inf)",[-1],"[-inf, 0.0164)","[-inf, 2.0)","[-inf, 0.0404)","[-inf, 0.0865)","[-inf, 1.0)","[-inf, 1.0)",[-1],"[-inf, 76843.0)",[-1],"[0.0, inf)",1,0,0,"[242.0, inf)","[-inf, 1.33)","[-inf, 84269.0)",1,0,0,0,1,0,0,0,"[0.0, inf)",1,"[247.0, inf)",1,0,0,"[-inf, 0.203)",0,[-1],"[-inf, 0.0742)",[-1],"[-inf, 0.145)",[-1],"[-inf, 0.028)",0,"[-inf, 0.00494)","[-inf, 0.000184)",0,[-1],0,"[-inf, 0.00304)","[-inf, 0.000143)",[-1],"[-inf, 0.000926)","[-inf, 0.0141)",0,0,0,0,"[-inf, 0.00494)","[-inf, 0.000524)",0,0,0,0,0,0,"[-inf, 0.101)","[-inf, 0.0111)","[-inf, 0.0185)","[0.0, inf)","[-inf, 0.00144)","[-inf, 0.0169)","[-inf, 0.0643)",[-1],0,0,0,"[-inf, 2.525)",0,1,"[-inf, 1.605)",1.429759
1,384011,Tower,2017-10-08,1.0,1.0,685.0,NaN,0.0,Auto,774.0,816.0,missing,M,Age below 62,"[2.0, 3.0)","[2.0, inf)","[-inf, 10.0)","[0.85, 1.01)","[155000.0, 384900.0)","[234900.0, inf)","[220644.0, 280500.0)","[182000.0, 244673.0)","[208000.0, 349001.0)","[131500.0, 299200.0)","[114.0, 176.0)","[0.436, inf)","[15977.0, 324300.0)","[238752.0, 296257.0)","[29.0, 162.0)","[87.0, 126.0)","[48.0, 113.0)","[137900.0, 294500.0)","[-inf, 15.0)","[1.05, 1.47)","[2.0, inf)","[1.0, 2.0)","[1.0, 2.0)","[4.0, 5.0)","[518.0, 246800.0)","[1.0, inf)",[-1],"[1.03, 1.16)",[-1],"[-inf, 1.0)","[9.0, 162.0)",[-1],"[1.01, 1.19)",0,"[35.0, 98.0)","[-inf, 1.33)","[1.02, 1.41)","[-inf, 1.0)","[-inf, 0.0454)","[-inf, 1.52)","[0.89, 1.05)",[-1],"[122.0, 177.0)","[-inf, 4.755)",2,[-1],"[-inf, 683.805)","[205145.0, 349900.0)","[-inf, 2.581)",[-1],"[-inf, 0.0352)","[9.0, 163.0)","[49.0, 76.0)",[-1],"[-inf, 0.0164)","[2.0, inf)","[-inf, 0.0404)","[-inf, 0.0865)","[-inf, 1.0)","[1.0, 2.0)","[-inf, 1.37)","[213499.0, 257874.0)","[190129.0, 246900.0)","[0.0, inf)",0,1,1,"[36.0, 55.0)","[-inf, 1.33)","[201863.0, 256476.0)",0,1,0,1,10,0,0,0,"[0.0, inf)",[-1],"[89.0, 136.0)",1,1,0,"[-inf, 0.203)",1,0,"[-inf, 0.0742)","[-inf, 117.0)","[-inf, 0.145)","[-inf, 52.0)","[-inf, 0.028)",0,"[-inf, 0.00494)","[-inf, 0.000184)",0,[-1],1,"[-inf, 0.00304)","[-inf, 0.000143)",[-1],"[-inf, 0.000926)","[-inf, 0.0141)",0,0,0,0,"[-inf, 0.00494)","[-inf, 0.000524)",0,0,0,0,0,0,"[-inf, 0.101)","[-inf, 0.0111)","[-inf, 0.0185)","[0.0, inf)","[-inf, 0.00144)","[-inf, 0.0169)","[-inf, 0.0643)",[-1],0,0,0,"[-inf, 2.525)",0,1,"[-inf, 1.605)",1.237442

In [37]:
for var in var_to_cat:
    display(binned_df_holdout[var].value_counts(dropna= False).reset_index())

  inquirynonshortterm12month  count
0                          0  46295
1                          1  16643

   addrlastmoveecontrajectory  count
0                           1  31550
1                          10   5531
2                          11   4835
3                           4   4037
4                           9   3848
5                           8   3278
6                          12   3265
7                           0   2669
8                           3   2175
9                           2   1260
10                          6    239
11                          5    151
12                          7    100

  addrinputsubjectowned  count
0                     1  30339
1                     0  22414
2                  [-1]  10185

  inquiryauto12month  count
0                  0  55716
1                  1   7222

  addronfilehighrisk  count
0                  0  62920
1                  1     18

  inquirytelcom12month  count
0                    0  61963
1                    1    975

  educationattendance  count
0                   0  54295
1                   1   8643

  addronfilecorrectional  count
0                      0  62937
1                      1      1

  businesstitleleadership  count
0                    [-1]  55769
1                       2   4156
2                       1   1562
3                       0   1451

  educationinstitutionrating  count
0                          0  56099
1                          3   2161
2                          4   1860
3                          5   1218
4                          2    805
5                          6    680
6                          1    115

  assetpersonal  count
0             0  57311
1             1   5627

  addrcurrentdeedmailing  count
0                      0  43089
1                      1  10061
2                   [-1]   9788

  addrprevioussubjectowned  count
0                        1  36221
1                     [-1]  20316
2                        3   5446
3                        2    955

  addrinputphoneservice  count
0                     0  52496
1                     1  10442

  assetownership  count
0              1  39819
1              0  23119

  educationevidence  count
0                 0  52025
1                 1  10913

  educationprogramattended  count
0                        0  54916
1                        2   6273
2                        1   1743
3                        3      6

  businessassociation  count
0                   0  55769
1                   1   7169

  shorttermloanrequest12month  count
0                           0  62915
1                           1     23

  alertregulatorycondition  count
0                        1  60826
1                        2   2112

  assetprop  count
0         1  38951
1         0  23987

  subjectnewestrecord12month  count
0                          1  62229
1                          0    709

  assetpropnewestmortgagetype  count
0                        [-1]  31167
1                           0  30289
2                           2    958
3                           1    524

  addrinputproblems  count
0                 0  61038
1                 2   1557
2                 1    267
3                 4     39
4                 3     37

  addronfilecollege  count
0                 0  62002
1                 1    936

  bankruptcystatus  count
0                0  60829
1                1   1941
2                2    157
3             [-1]     11

  addrinputdeedmailing  count
0                    0  43474
1                 [-1]  10185
2                    1   9279

  proflictypecategory  count
0                [-1]  58063
1                   3   1360
2                   2   1303
3                   1    856
4                   0    610
5                   4    449
6                   5    297

  shorttermloanrequest  count
0                    0  62756
1                    1    182

  bankruptcychapter  count
0                 0  60829
1                 1   1590
2                 2    519

  addrcurrentphoneservice  count
0                       0  52496
1                       1  10442

  shorttermloanrequest24month  count
0                           0  62882
1                           1     56

  sourcevoterregistration  count
0                       0  42109
1                       1  20829

  inquirycollections12month  count
0                         0  62765
1                         1    173

  inquirybanking12month  count
0                     0  52334
1                     1  10604

  inquiryshortterm12month  count
0                       0  61551
1                       1   1387

  addrcurrentsubjectowned  count
0                       1  30041
1                       0  23109
2                    [-1]   9788

In [38]:
df_bv= pd.DataFrame()
for var in req_cols:
    print(var)
    tr= bivar_tables[var].reset_index()[['bins', 'bads', 'counts', 'rate']]
    tr.insert(0, 'variable', var)
    tr.columns= ['variable', 'bins', 'bads_train', 'counts_train', 'rate_train']
    
    te= bivar_tables_holdout[var].reset_index()[['bins', 'bads', 'counts', 'rate']]
    te.columns= ['bins', 'bads_test', 'counts_test', 'rate_test']
    
    t= tr.merge(te, on= 'bins', how= 'left')
    
    df_bv= pd.concat([df_bv, t])
    
    del tr, te, t

assetpropevercount
sourcenonderogcount06month
addronfilecount
addrinputcountyratio
assetpropnewestsaleprice
addrcurrenttaxvalue
addrinputavmvalue
addrinputavmvalue60month
addrinputlastsaleprice
addrinputtaxmarketvalue
sourcecredheadertimeoldest
addrinputphonecount
assetpropcurrenttaxtotal
addrcurrentavmvalue
assetproppurchasetimeoldest
addrpreviouslengthofres
addrinputlengthofres
addrcurrenttaxmarketvalue
addrprevioustimenewest
addrcurrenttractratio
sourcenonderogcount12month
assetpropcurrentcount
addrinputsubjectcount
sourcenonderogcount
addrinputtaxvalue
assetpropeversoldcount
businessassociationtimeoldest
addrinputtractratio
derogtimenewest
addrchangecount24month
addrinputtimelastsale
educationinstitutionprivate
addrinputblockratio
businesstitleleadership
addrcurrentlengthofres
addrcurrentavmratio12monthprior
addrcurrentblockratio
derogcount
profliccount
addrinputavmratio60monthprior
addrcurrentcountyratio
assetpropsaletimeoldest
subjectrecordtimeoldest
addrcurrenttimenewest
proflictypecategory
criminalnonfelonytimenewest
lienjudgmentdollartotal
addrcurrentlastsalesprice
addrinputtimenewest
evictiontimenewest
bankruptcycount
addrcurrenttimelastsale
addrinputtimeoldest
addrlastmovetaxratiodiff
criminalnonfelonycount
sourcenonderogcount03month
addrchangecount03month
addrchangecount06month
addrchangecount12month
addrchangecount60month
addrcurrentavmratio60monthprior
addrcurrentavmvalue12month
addrcurrentavmvalue60month
addrcurrentcorrectional
addrcurrentdeedmailing
addrcurrentphoneservice
addrcurrentsubjectowned
addrcurrenttimeoldest
addrinputavmratio12monthprior
addrinputavmvalue12month
addrinputdeedmailing
addrinputphoneservice
addrinputproblems
addrinputsubjectowned
addrlastmoveecontrajectory
addronfilecollege
addronfilecorrectional
addronfilehighrisk
addrpreviouscorrectional
addrprevioussubjectowned
addrprevioustimeoldest
alertregulatorycondition
assetownership
assetpersonal
assetpersonalcount
assetprop
assetpropnewestmortgagetype
assetproppurchasecount12month
assetproppurchasetimenewest
assetpropsalepurchaseratio
assetpropsaletimenewest
assetpropsoldcount12month
bankruptcychapter
bankruptcycount24month
bankruptcydismissed24month
bankruptcystatus
bankruptcytimenewest
businessassociation
criminalfelonycount
criminalfelonycount12month
criminalfelonytimenewest
criminalnonfelonycount12month
derogcount12month
educationattendance
educationevidence
educationinstitutionrating
educationprogramattended
evictioncount
evictioncount12month
inquiryauto12month
inquirybanking12month
inquirycollections12month
inquirynonshortterm12month
inquiryshortterm12month
inquirytelcom12month
lienjudgmentcount
lienjudgmentcount12month
lienjudgmentcourtcount
lienjudgmentforeclosurecount
lienjudgmentothercount
lienjudgmentsmallclaimscount
lienjudgmenttaxcount
lienjudgmenttimenewest
shorttermloanrequest
shorttermloanrequest12month
shorttermloanrequest24month
sourcecredheadertimenewest
sourcevoterregistration
subjectnewestrecord12month
subjectrecordtimenewest

In [39]:
df_bv

,variable,bins,bads_train,counts_train,rate_train,bads_test,counts_test,rate_test
0,assetpropevercount,Missing,0.0,0,0.000000,0.0,0,0.000000
1,assetpropevercount,[-1],0.0,0,0.000000,0.0,0,0.000000
2,assetpropevercount,"[-inf, 1.0)",1526.0,50788,0.030046,663.0,21627,0.030656
3,assetpropevercount,"[1.0, 2.0)",445.0,51963,0.008564,204.0,22414,0.009101
4,assetpropevercount,"[2.0, 3.0)",155.0,23283,0.006657,57.0,9887,0.005765
5,assetpropevercount,"[3.0, inf)",101.0,20821,0.004851,35.0,9010,0.003885
0,sourcenonderogcount06month,Missing,0.0,0,0.000000,0.0,0,0.000000
1,sourcenonderogcount06month,[-1],0.0,0,0.000000,0.0,0,0.000000
2,sourcenonderogcount06month,"[-inf, 2.0)",1793.0,81723,0.021940,760.0,35000,0.021714
3,sourcenonderogcount06month,"[2.0, inf)",434.0,65132,0.006663,199.0,27938,0.007123
0,addronfilecount,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addronfilecount,[-1],0.0,0,0.000000,0.0,0,0.000000
2,addronfilecount,"[-inf, 10.0)",1982.0,133813,0.014812,855.0,57178,0.014953
3,addronfilecount,"[10.0, inf)",245.0,13042,0.018785,104.0,5760,0.018056
0,addrinputcountyratio,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputcountyratio,[-1],0.0,1,0.000000,0.0,0,0.000000
2,addrinputcountyratio,"[-inf, 0.55)",1174.0,50569,0.023216,526.0,21839,0.024085
3,addrinputcountyratio,"[0.55, 0.85)",414.0,23016,0.017987,140.0,9769,0.014331
4,addrinputcountyratio,"[0.85, 1.01)",221.0,15848,0.013945,86.0,6629,0.012973
5,addrinputcountyratio,"[1.01, 1.32)",235.0,25904,0.009072,114.0,11004,0.010360
6,addrinputcountyratio,"[1.32, inf)",183.0,31517,0.005806,93.0,13697,0.006790
0,assetpropnewestsaleprice,Missing,0.0,0,0.000000,0.0,0,0.000000
1,assetpropnewestsaleprice,[-1],2047.0,121649,0.016827,884.0,52087,0.016972
2,assetpropnewestsaleprice,"[-inf, 108000.0)",57.0,5259,0.010839,21.0,2247,0.009346
3,assetpropnewestsaleprice,"[108000.0, 155000.0)",39.0,4764,0.008186,12.0,2094,0.005731
4,assetpropnewestsaleprice,"[155000.0, 384900.0)",67.0,12029,0.005570,37.0,5112,0.007238
5,assetpropnewestsaleprice,"[384900.0, inf)",17.0,3154,0.005390,5.0,1398,0.003577
0,addrcurrenttaxvalue,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrcurrenttaxvalue,[-1],0.0,0,0.000000,0.0,0,0.000000
2,addrcurrenttaxvalue,"[-inf, 510.0)",1848.0,77156,0.023951,799.0,32910,0.024278
3,addrcurrenttaxvalue,"[510.0, 234900.0)",289.0,49063,0.005890,116.0,21196,0.005473
4,addrcurrenttaxvalue,"[234900.0, inf)",90.0,20636,0.004361,44.0,8832,0.004982
0,addrinputavmvalue,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputavmvalue,[-1],923.0,40203,0.022958,407.0,17378,0.023420
2,addrinputavmvalue,"[-inf, 97283.0)",269.0,11525,0.023341,115.0,4994,0.023028
3,addrinputavmvalue,"[97283.0, 140226.0)",152.0,10482,0.014501,89.0,4464,0.019937
4,addrinputavmvalue,"[140226.0, 220644.0)",310.0,25063,0.012369,127.0,10650,0.011925
5,addrinputavmvalue,"[220644.0, 280500.0)",201.0,16986,0.011833,72.0,7221,0.009971
6,addrinputavmvalue,"[280500.0, 363171.0)",183.0,17317,0.010568,69.0,7282,0.009475
7,addrinputavmvalue,"[363171.0, 466923.0)",102.0,12579,0.008109,42.0,5415,0.007756
8,addrinputavmvalue,"[466923.0, inf)",87.0,12700,0.006850,38.0,5534,0.006867
0,addrinputavmvalue60month,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputavmvalue60month,[-1],1140.0,60647,0.018797,500.0,26077,0.019174
2,addrinputavmvalue60month,"[-inf, 67133.0)",175.0,7472,0.023421,68.0,3245,0.020955
3,addrinputavmvalue60month,"[67133.0, 116065.0)",180.0,12727,0.014143,107.0,5412,0.019771
4,addrinputavmvalue60month,"[116065.0, 154329.0)",185.0,13278,0.013933,76.0,5702,0.013329
5,addrinputavmvalue60month,"[154329.0, 182000.0)",122.0,8893,0.013719,57.0,3766,0.015135
6,addrinputavmvalue60month,"[182000.0, 244673.0)",200.0,15223,0.013138,61.0,6418,0.009505
7,addrinputavmvalue60month,"[244673.0, 363163.0)",150.0,16201,0.009259,62.0,6923,0.008956
8,addrinputavmvalue60month,"[363163.0, inf)",75.0,12414,0.006042,28.0,5395,0.005190
0,addrinputlastsaleprice,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputlastsaleprice,[-1],1896.0,86917,0.021814,827.0,37043,0.022325
2,addrinputlastsaleprice,"[-inf, 68000.0)",65.0,8526,0.007624,21.0,3698,0.005679
3,addrinputlastsaleprice,"[68000.0, 120570.0)",66.0,8946,0.007378,22.0,3796,0.005796
4,addrinputlastsaleprice,"[120570.0, 208000.0)",86.0,16258,0.005290,47.0,7233,0.006498
5,addrinputlastsaleprice,"[208000.0, 349001.0)",73.0,15494,0.004712,32.0,6589,0.004857
6,addrinputlastsaleprice,"[349001.0, inf)",41.0,10714,0.003827,10.0,4579,0.002184
0,addrinputtaxmarketvalue,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputtaxmarketvalue,[-1],0.0,1,0.000000,0.0,0,0.000000
2,addrinputtaxmarketvalue,"[-inf, 4900.0)",1857.0,77742,0.023887,803.0,33166,0.024212
3,addrinputtaxmarketvalue,"[4900.0, 131500.0)",136.0,16020,0.008489,43.0,6858,0.006270
4,addrinputtaxmarketvalue,"[131500.0, 299200.0)",164.0,33201,0.004940,88.0,14340,0.006137
5,addrinputtaxmarketvalue,"[299200.0, inf)",70.0,19891,0.003519,25.0,8574,0.002916
0,sourcecredheadertimeoldest,Missing,0.0,0,0.000000,0.0,0,0.000000
1,sourcecredheadertimeoldest,[-1],13.0,469,0.027719,3.0,214,0.014019
2,sourcecredheadertimeoldest,"[-inf, 61.0)",447.0,12589,0.035507,216.0,5352,0.040359
3,sourcecredheadertimeoldest,"[61.0, 114.0)",288.0,13400,0.021493,125.0,5643,0.022151
4,sourcecredheadertimeoldest,"[114.0, 176.0)",307.0,16450,0.018663,122.0,6852,0.017805
5,sourcecredheadertimeoldest,"[176.0, 253.0)",389.0,23814,0.016335,164.0,10243,0.016011
6,sourcecredheadertimeoldest,"[253.0, 353.0)",330.0,30568,0.010796,147.0,13184,0.011150
7,sourcecredheadertimeoldest,"[353.0, 421.0)",302.0,30334,0.009956,126.0,12818,0.009830
8,sourcecredheadertimeoldest,"[421.0, inf)",151.0,19231,0.007852,56.0,8632,0.006487
0,addrinputphonecount,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputphonecount,[-1],0.0,1,0.000000,0.0,0,0.000000
2,addrinputphonecount,"[-inf, 0.436)",1622.0,105417,0.015387,704.0,45120,0.015603
3,addrinputphonecount,"[0.436, inf)",605.0,41437,0.014600,255.0,17818,0.014311
0,assetpropcurrenttaxtotal,Missing,0.0,0,0.000000,0.0,0,0.000000
1,assetpropcurrenttaxtotal,[-1],1622.0,56271,0.028825,702.0,23987,0.029266
2,assetpropcurrenttaxtotal,"[-inf, 5700.0)",100.0,8560,0.011682,29.0,3609,0.008035
3,assetpropcurrenttaxtotal,"[5700.0, 15977.0)",68.0,8969,0.007582,36.0,3831,0.009397
4,assetpropcurrenttaxtotal,"[15977.0, 324300.0)",370.0,54648,0.006771,160.0,23630,0.006771
5,assetpropcurrenttaxtotal,"[324300.0, inf)",67.0,18407,0.003640,32.0,7881,0.004060
0,addrcurrentavmvalue,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrcurrentavmvalue,[-1],844.0,36854,0.022901,365.0,15784,0.023125
2,addrcurrentavmvalue,"[-inf, 90271.0)",252.0,10797,0.023340,101.0,4674,0.021609
3,addrcurrentavmvalue,"[90271.0, 143000.0)",202.0,13163,0.015346,105.0,5597,0.018760
4,addrcurrentavmvalue,"[143000.0, 238752.0)",393.0,30759,0.012777,166.0,13194,0.012581
5,addrcurrentavmvalue,"[238752.0, 296257.0)",187.0,15999,0.011688,75.0,6773,0.011073
6,addrcurrentavmvalue,"[296257.0, 385000.0)",182.0,17030,0.010687,66.0,7218,0.009144
7,addrcurrentavmvalue,"[385000.0, inf)",167.0,22253,0.007505,81.0,9698,0.008352
0,assetproppurchasetimeoldest,Missing,0.0,0,0.000000,0.0,0,0.000000
1,assetproppurchasetimeoldest,[-1],1732.0,76708,0.022579,757.0,32806,0.023075
2,assetproppurchasetimeoldest,"[-inf, 29.0)",106.0,11703,0.009058,50.0,4954,0.010093
3,assetproppurchasetimeoldest,"[29.0, 162.0)",227.0,30397,0.007468,86.0,13225,0.006503
4,assetproppurchasetimeoldest,"[162.0, 239.0)",113.0,17832,0.006337,48.0,7599,0.006317
5,assetproppurchasetimeoldest,"[239.0, inf)",49.0,10215,0.004797,18.0,4354,0.004134
0,addrpreviouslengthofres,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrpreviouslengthofres,[-1],258.0,9218,0.027989,107.0,3992,0.026804
2,addrpreviouslengthofres,"[-inf, 23.0)",737.0,35381,0.020830,335.0,15276,0.021930
3,addrpreviouslengthofres,"[23.0, 46.0)",421.0,22311,0.018870,164.0,9545,0.017182
4,addrpreviouslengthofres,"[46.0, 64.0)",190.0,13737,0.013831,91.0,5800,0.015690
5,addrpreviouslengthofres,"[64.0, 87.0)",176.0,14027,0.012547,65.0,6036,0.010769
6,addrpreviouslengthofres,"[87.0, 126.0)",168.0,16844,0.009974,73.0,6993,0.010439
7,addrpreviouslengthofres,"[126.0, inf)",277.0,35337,0.007839,124.0,15296,0.008107
0,addrinputlengthofres,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputlengthofres,[-1],447.0,14447,0.030941,193.0,6275,0.030757
2,addrinputlengthofres,"[-inf, 9.0)",356.0,14108,0.025234,178.0,6019,0.029573
3,addrinputlengthofres,"[9.0, 31.0)",454.0,24915,0.018222,196.0,10568,0.018547
4,addrinputlengthofres,"[31.0, 48.0)",208.0,13147,0.015821,80.0,5674,0.014099
5,addrinputlengthofres,"[48.0, 113.0)",352.0,28010,0.012567,148.0,11989,0.012345
6,addrinputlengthofres,"[113.0, 166.0)",168.0,15342,0.010950,72.0,6560,0.010976
7,addrinputlengthofres,"[166.0, 244.0)",129.0,18123,0.007118,54.0,7683,0.007029
8,addrinputlengthofres,"[244.0, inf)",113.0,18763,0.006022,38.0,8170,0.004651
0,addrcurrenttaxmarketvalue,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrcurrenttaxmarketvalue,[-1],0.0,0,0.000000,0.0,0,0.000000
2,addrcurrenttaxmarketvalue,"[-inf, 9000.0)",1859.0,78302,0.023741,803.0,33410,0.024035
3,addrcurrenttaxmarketvalue,"[9000.0, 137900.0)",148.0,17255,0.008577,55.0,7485,0.007348
4,addrcurrenttaxmarketvalue,"[137900.0, 294500.0)",146.0,31236,0.004674,71.0,13435,0.005285
5,addrcurrenttaxmarketvalue,"[294500.0, inf)",74.0,20062,0.003689,30.0,8608,0.003485
0,addrprevioustimenewest,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrprevioustimenewest,[-1],255.0,9135,0.027915,106.0,3957,0.026788
2,addrprevioustimenewest,"[-inf, 15.0)",1231.0,69225,0.017783,546.0,29713,0.018376
3,addrprevioustimenewest,"[15.0, 43.0)",268.0,17934,0.014944,124.0,7723,0.016056
4,addrprevioustimenewest,"[43.0, 94.0)",207.0,17336,0.011940,78.0,7459,0.010457
5,addrprevioustimenewest,"[94.0, 159.0)",160.0,15800,0.010127,60.0,6599,0.009092
6,addrprevioustimenewest,"[159.0, inf)",106.0,17425,0.006083,45.0,7487,0.006010
0,addrcurrenttractratio,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrcurrenttractratio,[-1],0.0,0,0.000000,0.0,0,0.000000
2,addrcurrenttractratio,"[-inf, 0.11)",855.0,37474,0.022816,369.0,16041,0.023004
3,addrcurrenttractratio,"[0.11, 0.72)",306.0,15038,0.020348,128.0,6519,0.019635
4,addrcurrenttractratio,"[0.72, 0.91)",284.0,20789,0.013661,120.0,8941,0.013421
5,addrcurrenttractratio,"[0.91, 1.05)",294.0,22606,0.013005,140.0,9675,0.014470
6,addrcurrenttractratio,"[1.05, 1.47)",357.0,34935,0.010219,147.0,14866,0.009888
7,addrcurrenttractratio,"[1.47, inf)",131.0,16013,0.008181,55.0,6896,0.007976
0,sourcenonderogcount12month,Missing,0.0,0,0.000000,0.0,0,0.000000
1,sourcenonderogcount12month,[-1],0.0,0,0.000000,0.0,0,0.000000
2,sourcenonderogcount12month,"[-inf, 2.0)",1730.0,73094,0.023668,726.0,31209,0.023263
3,sourcenonderogcount12month,"[2.0, inf)",497.0,73761,0.006738,233.0,31729,0.007343
0,assetpropcurrentcount,Missing,0.0,0,0.000000,0.0,0,0.000000
1,assetpropcurrentcount,[-1],0.0,0,0.000000,0.0,0,0.000000
2,assetpropcurrentcount,"[-inf, 1.0)",1622.0,56271,0.028825,702.0,23987,0.029266
3,assetpropcurrentcount,"[1.0, 2.0)",454.0,60885,0.007457,203.0,26109,0.007775
4,assetpropcurrentcount,"[2.0, inf)",151.0,29699,0.005084,54.0,12842,0.004205
0,addrinputsubjectcount,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputsubjectcount,[-1],500.0,16716,0.029911,223.0,7170,0.031102
2,addrinputsubjectcount,"[-inf, 1.0)",345.0,21619,0.015958,162.0,9193,0.017622
3,addrinputsubjectcount,"[1.0, 2.0)",392.0,24680,0.015883,156.0,10466,0.014905
4,addrinputsubjectcount,"[2.0, inf)",990.0,83840,0.011808,418.0,36109,0.011576
0,sourcenonderogcount,Missing,0.0,0,0.000000,0.0,0,0.000000
1,sourcenonderogcount,[-1],0.0,0,0.000000,0.0,0,0.000000
2,sourcenonderogcount,"[-inf, 2.0)",688.0,17938,0.038354,285.0,7698,0.037023
3,sourcenonderogcount,"[2.0, 3.0)",910.0,44820,0.020303,387.0,18993,0.020376
4,sourcenonderogcount,"[3.0, 4.0)",447.0,41999,0.010643,186.0,18197,0.010221
5,sourcenonderogcount,"[4.0, 5.0)",131.0,24917,0.005257,78.0,10748,0.007257
6,sourcenonderogcount,"[5.0, inf)",51.0,17181,0.002968,23.0,7302,0.003150
0,addrinputtaxvalue,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputtaxvalue,[-1],0.0,1,0.000000,0.0,0,0.000000
2,addrinputtaxvalue,"[-inf, 518.0)",1852.0,76881,0.024089,800.0,32771,0.024412
3,addrinputtaxvalue,"[518.0, 246800.0)",290.0,50342,0.005761,123.0,21802,0.005642
4,addrinputtaxvalue,"[246800.0, inf)",85.0,19631,0.004330,36.0,8365,0.004304
0,assetpropeversoldcount,Missing,0.0,0,0.000000,0.0,0,0.000000
1,assetpropeversoldcount,[-1],0.0,0,0.000000,0.0,0,0.000000
2,assetpropeversoldcount,"[-inf, 1.0)",2010.0,117429,0.017117,874.0,50305,0.017374
3,assetpropeversoldcount,"[1.0, inf)",217.0,29426,0.007374,85.0,12633,0.006728
0,businessassociationtimeoldest,Missing,0.0,0,0.000000,0.0,0,0.000000
1,businessassociationtimeoldest,[-1],2153.0,135376,0.015904,929.0,58053,0.016003
2,businessassociationtimeoldest,"[-inf, 15.0)",13.0,1354,0.009601,5.0,583,0.008576
3,businessassociationtimeoldest,"[15.0, 77.0)",40.0,5021,0.007967,14.0,2083,0.006721
4,businessassociationtimeoldest,"[77.0, 100.0)",11.0,1477,0.007448,5.0,656,0.007622
5,businessassociationtimeoldest,"[100.0, 152.0)",5.0,1372,0.003644,3.0,611,0.004910
6,businessassociationtimeoldest,"[152.0, inf)",5.0,2255,0.002217,3.0,952,0.003151
0,addrinputtractratio,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputtractratio,[-1],0.0,1,0.000000,0.0,0,0.000000
2,addrinputtractratio,"[-inf, 0.33)",977.0,43097,0.022670,435.0,18654,0.023319
3,addrinputtractratio,"[0.33, 0.77)",296.0,15276,0.019377,123.0,6528,0.018842
4,addrinputtractratio,"[0.77, 0.91)",220.0,17138,0.012837,102.0,7292,0.013988
5,addrinputtractratio,"[0.91, 1.03)",234.0,18581,0.012594,102.0,7900,0.012911
6,addrinputtractratio,"[1.03, 1.16)",190.0,17220,0.011034,76.0,7285,0.010432
7,addrinputtractratio,"[1.16, 1.39)",156.0,16253,0.009598,63.0,6955,0.009058
8,addrinputtractratio,"[1.39, inf)",154.0,19289,0.007984,58.0,8324,0.006968
0,derogtimenewest,Missing,0.0,0,0.000000,0.0,0,0.000000
1,derogtimenewest,[-1],1769.0,131135,0.013490,777.0,55984,0.013879
2,derogtimenewest,"[-inf, 12.0)",74.0,1656,0.044686,27.0,748,0.036096
3,derogtimenewest,"[12.0, 22.0)",59.0,1762,0.033485,35.0,764,0.045812
4,derogtimenewest,"[22.0, 45.0)",135.0,4308,0.031337,53.0,1841,0.028789
5,derogtimenewest,"[45.0, 54.0)",54.0,1709,0.031597,13.0,803,0.016189
6,derogtimenewest,"[54.0, 76.0)",104.0,4162,0.024988,37.0,1868,0.019807
7,derogtimenewest,"[76.0, inf)",32.0,2123,0.015073,17.0,930,0.018280
0,addrchangecount24month,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrchangecount24month,[-1],0.0,0,0.000000,0.0,0,0.000000
2,addrchangecount24month,"[-inf, 1.0)",1297.0,106598,0.012167,527.0,45691,0.011534
3,addrchangecount24month,"[1.0, inf)",930.0,40257,0.023102,432.0,17247,0.025048
0,addrinputtimelastsale,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputtimelastsale,[-1],1947.0,97803,0.019907,845.0,41852,0.020190
2,addrinputtimelastsale,"[-inf, 9.0)",55.0,4920,0.011179,19.0,2045,0.009291
3,addrinputtimelastsale,"[9.0, 162.0)",189.0,34278,0.005514,77.0,14915,0.005163
4,addrinputtimelastsale,"[162.0, inf)",36.0,9854,0.003653,18.0,4126,0.004363
0,educationinstitutionprivate,Missing,0.0,0,0.000000,0.0,0,0.000000
1,educationinstitutionprivate,[-1],2071.0,126970,0.016311,897.0,54369,0.016498
2,educationinstitutionprivate,"[-inf, 0.0885)",138.0,18126,0.007613,57.0,7803,0.007305
3,educationinstitutionprivate,"[0.0885, inf)",18.0,1759,0.010233,5.0,766,0.006527
0,addrinputblockratio,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputblockratio,[-1],0.0,1,0.000000,0.0,0,0.000000
2,addrinputblockratio,"[-inf, 0.11)",928.0,40654,0.022827,413.0,17586,0.023485
3,addrinputblockratio,"[0.11, 0.71)",299.0,14395,0.020771,118.0,6152,0.019181
4,addrinputblockratio,"[0.71, 1.01)",477.0,35179,0.013559,221.0,15096,0.014640
5,addrinputblockratio,"[1.01, 1.19)",247.0,22525,0.010966,95.0,9532,0.009966
6,addrinputblockratio,"[1.19, 1.48)",153.0,16955,0.009024,55.0,7138,0.007705
7,addrinputblockratio,"[1.48, inf)",123.0,17146,0.007174,57.0,7434,0.007667
0,businesstitleleadership,Missing,0.0,0,0.000000,0.0,0,0.000000
1,businesstitleleadership,[-1],2091.0,129958,0.016090,900.0,55769,0.016138
2,businesstitleleadership,0,33.0,3473,0.009502,16.0,1451,0.011027
3,businesstitleleadership,1,31.0,3717,0.008340,14.0,1562,0.008963
4,businesstitleleadership,2,72.0,9707,0.007417,29.0,4156,0.006978
0,addrcurrentlengthofres,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrcurrentlengthofres,[-1],20.0,634,0.031546,17.0,317,0.053628
2,addrcurrentlengthofres,"[-inf, 9.0)",427.0,16459,0.025943,198.0,7042,0.028117
3,addrcurrentlengthofres,"[9.0, 20.0)",342.0,15509,0.022052,148.0,6673,0.022179
4,addrcurrentlengthofres,"[20.0, 35.0)",315.0,16372,0.019240,139.0,6985,0.019900
5,addrcurrentlengthofres,"[35.0, 98.0)",586.0,37318,0.015703,239.0,16020,0.014919
6,addrcurrentlengthofres,"[98.0, 166.0)",262.0,22175,0.011815,110.0,9341,0.011776
7,addrcurrentlengthofres,"[166.0, 242.0)",144.0,18762,0.007675,64.0,7990,0.008010
8,addrcurrentlengthofres,"[242.0, inf)",131.0,19626,0.006675,44.0,8570,0.005134
0,addrcurrentavmratio12monthprior,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrcurrentavmratio12monthprior,[-1],899.0,43179,0.020820,392.0,18417,0.021285
2,addrcurrentavmratio12monthprior,"[-inf, 1.33)",1134.0,90939,0.012470,479.0,39119,0.012245
3,addrcurrentavmratio12monthprior,"[1.33, inf)",194.0,12737,0.015231,88.0,5402,0.016290
0,addrcurrentblockratio,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrcurrentblockratio,[-1],0.0,0,0.000000,0.0,0,0.000000
2,addrcurrentblockratio,"[-inf, 0.11)",850.0,37320,0.022776,367.0,15963,0.022991
3,addrcurrentblockratio,"[0.11, 0.71)",320.0,14891,0.021489,122.0,6428,0.018979
4,addrcurrentblockratio,"[0.71, 0.88)",240.0,16694,0.014376,114.0,7066,0.016134
5,addrcurrentblockratio,"[0.88, 1.02)",275.0,21131,0.013014,130.0,9300,0.013978
6,addrcurrentblockratio,"[1.02, 1.41)",379.0,35826,0.010579,157.0,15206,0.010325
7,addrcurrentblockratio,"[1.41, inf)",163.0,20993,0.007764,69.0,8975,0.007688
0,derogcount,Missing,0.0,0,0.000000,0.0,0,0.000000
1,derogcount,[-1],0.0,0,0.000000,0.0,0,0.000000
2,derogcount,"[-inf, 1.0)",1769.0,131135,0.013490,777.0,55984,0.013879
3,derogcount,"[1.0, inf)",458.0,15720,0.029135,182.0,6954,0.026172
0,profliccount,Missing,0.0,0,0.000000,0.0,0,0.000000
1,profliccount,[-1],0.0,0,0.000000,0.0,0,0.000000
2,profliccount,"[-inf, 0.0454)",2192.0,141526,0.015488,941.0,60642,0.015517
3,profliccount,"[0.0454, inf)",35.0,5329,0.006568,18.0,2296,0.007840
0,addrinputavmratio60monthprior,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrinputavmratio60monthprior,[-1],1140.0,60647,0.018797,500.0,26077,0.019174
2,addrinputavmratio60monthprior,"[-inf, 1.52)",769.0,65270,0.011782,336.0,27915,0.012037
3,addrinputavmratio60monthprior,"[1.52, 1.69)",116.0,8744,0.013266,39.0,3736,0.010439
4,addrinputavmratio60monthprior,"[1.69, inf)",202.0,12194,0.016566,84.0,5210,0.016123
0,addrcurrentcountyratio,Missing,0.0,0,0.000000,0.0,0,0.000000
1,addrcurrentcountyratio,[-1],0.0,0,0.000000,0.0,0,0.000000
2,addrcurrentcountyratio,"[-inf, 0.55)",1105.0,47544,0.023242,482.0,20441,0.023580
3,addrcurrentcountyratio,"[0.55, 0.89)",489.0,27020,0.018098,166.0,11541,0.014384
4,addrcurrentcountyratio,"[0.89, 1.05)",219.0,17642,0.012414,113.0,7353,0.015368
5,addrcurrentcountyratio,"[1.05, 1.37)",233.0,24604,0.009470,108.0,10666,0.010126
6,addrcurrentcountyratio,"[1.37, inf)",181.0,30045,0.006024,90.0,12937,0.006957
0,assetpropsaletimeoldest,Missing,0.0,0,0.000000,0.0,0,0.000000
1,assetpropsaletimeoldest,[-1],2115.0,135768,0.015578,917.0,58146,0.015771
2,assetpropsaletimeoldest,"[-inf, 42.0)",32.0,2421,0.013218,5.0,1033,0.004840
3,assetpropsaletimeoldest,"[42.0, 130.0)",32.0,3130,0.010224,15.0,1378,0.010885
4,assetpropsaletimeoldest,"[130.0, 167.0)",17.0,1666,0.010204,3.0,742,0.004043
5,assetpropsaletimeoldest,"[167.0, 237.0)",23.0,2661,0.008643,15.0,1117,0.013429
6,assetpropsaletimeoldest,"[237.0, inf)",8.0,1209,0.006617,4.0,522,0.007663
0,subjectrecordtimeoldest,Missing,0.0,0,0.000000,0.0,0,0.000000

In [40]:
Train['bad_flag'].sum(), Test['bad_flag'].sum()

(2227.0, 959.0)

In [41]:
Train.shape[0], Test.shape[0]

(146855, 62938)

In [42]:
# Get train bivar tables + get binned train dataframe
binned_df_oot = get_bivar_tables_test(filename=Oot, predicted=None,
                                   feature_meta=feature_meta,
                                   feature_boundaries=feature_boundaries,
                                   num_features=numeric_df.loc[numeric_df['Use_Feature'] == 'Y', 'Feature_Name'].tolist(),
                                   embed_features=embed_df.loc[embed_df['Use_Feature'] == 'Y', 'Feature_Name'].tolist(),
                                   dep_var=None, weight_column= None)

assetpropevercount
sourcenonderogcount06month
addronfilecount
addrinputcountyratio
assetpropnewestsaleprice
addrcurrenttaxvalue
addrinputavmvalue
addrinputavmvalue60month
addrinputlastsaleprice
addrinputtaxmarketvalue
sourcecredheadertimeoldest
addrinputphonecount
assetpropcurrenttaxtotal
addrcurrentavmvalue
assetproppurchasetimeoldest
addrpreviouslengthofres
addrinputlengthofres
addrcurrenttaxmarketvalue
addrprevioustimenewest
addrcurrenttractratio
sourcenonderogcount12month
assetpropcurrentcount
addrinputsubjectcount
sourcenonderogcount
addrinputtaxvalue
assetpropeversoldcount
businessassociationtimeoldest
addrinputtractratio
derogtimenewest
addrchangecount24month
addrinputtimelastsale
educationinstitutionprivate
addrinputblockratio
addrcurrentlengthofres
addrcurrentavmratio12monthprior
addrcurrentblockratio
derogcount
profliccount
addrinputavmratio60monthprior
addrcurrentcountyratio
assetpropsaletimeoldest
subjectrecordtimeoldest
addrcurrenttimenewest
criminalnonfelonytimenewest
lienjudgmentdollartotal
addrcurrentlastsalesprice
addrinputtimenewest
evictiontimenewest
bankruptcycount
addrcurrenttimelastsale
addrinputtimeoldest
addrlastmovetaxratiodiff
criminalnonfelonycount
sourcenonderogcount03month
addrchangecount03month
addrchangecount06month
addrchangecount12month
addrchangecount60month
addrcurrentavmratio60monthprior
addrcurrentavmvalue12month
addrcurrentavmvalue60month
addrcurrentcorrectional
addrcurrenttimeoldest
addrinputavmratio12monthprior
addrinputavmvalue12month
addrpreviouscorrectional
addrprevioustimeoldest
assetpersonalcount
assetproppurchasecount12month
assetproppurchasetimenewest
assetpropsalepurchaseratio
assetpropsaletimenewest
assetpropsoldcount12month
bankruptcycount24month
bankruptcydismissed24month
bankruptcytimenewest
criminalfelonycount
criminalfelonycount12month
criminalfelonytimenewest
criminalnonfelonycount12month
derogcount12month
evictioncount
evictioncount12month
lienjudgmentcount
lienjudgmentcount12month
lienjudgmentcourtcount
lienjudgmentforeclosurecount
lienjudgmentothercount
lienjudgmentsmallclaimscount
lienjudgmenttaxcount
lienjudgmenttimenewest
sourcecredheadertimenewest
subjectrecordtimenewest
businesstitleleadership
proflictypecategory
addrcurrentdeedmailing
addrcurrentphoneservice
addrcurrentsubjectowned
addrinputdeedmailing
addrinputphoneservice
addrinputproblems
addrinputsubjectowned
addrlastmoveecontrajectory
addronfilecollege
addronfilecorrectional
addronfilehighrisk
addrprevioussubjectowned
alertregulatorycondition
assetownership
assetpersonal
assetprop
assetpropnewestmortgagetype
bankruptcychapter
bankruptcystatus
businessassociation
educationattendance
educationevidence
educationinstitutionrating
educationprogramattended
inquiryauto12month
inquirybanking12month
inquirycollections12month
inquirynonshortterm12month
inquiryshortterm12month
inquirytelcom12month
shorttermloanrequest
shorttermloanrequest12month
shorttermloanrequest24month
sourcevoterregistration
subjectnewestrecord12month

In [43]:
# Get train bivar tables + get binned train dataframe
binned_df_ttd = get_bivar_tables_test(filename=TTD, predicted=None,
                                   feature_meta=feature_meta,
                                   feature_boundaries=feature_boundaries,
                                   num_features=numeric_df.loc[numeric_df['Use_Feature'] == 'Y', 'Feature_Name'].tolist(),
                                   embed_features=embed_df.loc[embed_df['Use_Feature'] == 'Y', 'Feature_Name'].tolist(),
                                   dep_var=None, weight_column= None)

assetpropevercount
sourcenonderogcount06month
addronfilecount
addrinputcountyratio
assetpropnewestsaleprice
addrcurrenttaxvalue
addrinputavmvalue
addrinputavmvalue60month
addrinputlastsaleprice
addrinputtaxmarketvalue
sourcecredheadertimeoldest
addrinputphonecount
assetpropcurrenttaxtotal
addrcurrentavmvalue
assetproppurchasetimeoldest
addrpreviouslengthofres
addrinputlengthofres
addrcurrenttaxmarketvalue
addrprevioustimenewest
addrcurrenttractratio
sourcenonderogcount12month
assetpropcurrentcount
addrinputsubjectcount
sourcenonderogcount
addrinputtaxvalue
assetpropeversoldcount
businessassociationtimeoldest
addrinputtractratio
derogtimenewest
addrchangecount24month
addrinputtimelastsale
educationinstitutionprivate
addrinputblockratio
addrcurrentlengthofres
addrcurrentavmratio12monthprior
addrcurrentblockratio
derogcount
profliccount
addrinputavmratio60monthprior
addrcurrentcountyratio
assetpropsaletimeoldest
subjectrecordtimeoldest
addrcurrenttimenewest
criminalnonfelonytimenewest
lienjudgmentdollartotal
addrcurrentlastsalesprice
addrinputtimenewest
evictiontimenewest
bankruptcycount
addrcurrenttimelastsale
addrinputtimeoldest
addrlastmovetaxratiodiff
criminalnonfelonycount
sourcenonderogcount03month
addrchangecount03month
addrchangecount06month
addrchangecount12month
addrchangecount60month
addrcurrentavmratio60monthprior
addrcurrentavmvalue12month
addrcurrentavmvalue60month
addrcurrentcorrectional
addrcurrenttimeoldest
addrinputavmratio12monthprior
addrinputavmvalue12month
addrpreviouscorrectional
addrprevioustimeoldest
assetpersonalcount
assetproppurchasecount12month
assetproppurchasetimenewest
assetpropsalepurchaseratio
assetpropsaletimenewest
assetpropsoldcount12month
bankruptcycount24month
bankruptcydismissed24month
bankruptcytimenewest
criminalfelonycount
criminalfelonycount12month
criminalfelonytimenewest
criminalnonfelonycount12month
derogcount12month
evictioncount
evictioncount12month
lienjudgmentcount
lienjudgmentcount12month
lienjudgmentcourtcount
lienjudgmentforeclosurecount
lienjudgmentothercount
lienjudgmentsmallclaimscount
lienjudgmenttaxcount
lienjudgmenttimenewest
sourcecredheadertimenewest
subjectrecordtimenewest
businesstitleleadership
proflictypecategory
addrcurrentdeedmailing
addrcurrentphoneservice
addrcurrentsubjectowned
addrinputdeedmailing
addrinputphoneservice
addrinputproblems
addrinputsubjectowned
addrlastmoveecontrajectory
addronfilecollege
addronfilecorrectional
addronfilehighrisk
addrprevioussubjectowned
alertregulatorycondition
assetownership
assetpersonal
assetprop
assetpropnewestmortgagetype
bankruptcychapter
bankruptcystatus
businessassociation
educationattendance
educationevidence
educationinstitutionrating
educationprogramattended
inquiryauto12month
inquirybanking12month
inquirycollections12month
inquirynonshortterm12month
inquiryshortterm12month
inquirytelcom12month
shorttermloanrequest
shorttermloanrequest12month
shorttermloanrequest24month
sourcevoterregistration
subjectnewestrecord12month

In [46]:
for var in var_to_cat:
    display(binned_df_ttd[var].value_counts(dropna= False).reset_index())

  inquirynonshortterm12month   count
0                          0  457800
1                          1  227415

   addrlastmoveecontrajectory   count
0                           1  306534
1                          10   61914
2                           4   52182
3                          11   51032
4                           9   43630
5                           8   43557
6                           0   34343
7                           3   32634
8                          12   31812
9                           2   19599
10                          6    3126
11                          5    2449
12                          7    2403

  addrinputsubjectowned   count
0                     0  281760
1                     1  257681
2                  [-1]  145774

  inquiryauto12month   count
0                  0  562020
1                  1  123195

  addronfilehighrisk   count
0                  0  685068
1                  1     147

  inquirytelcom12month   count
0                    0  668923
1                    1   16292

  educationattendance   count
0                   0  598194
1                   1   87021

  addronfilecorrectional   count
0                      0  685185
1                      1      30

  businesstitleleadership   count
0                    [-1]  613259
1                       2   42292
2                       1   15789
3                       0   13875

  educationinstitutionrating   count
0                          0  618312
1                          4   19348
2                          3   18299
3                          5   14131
4                          6    7982
5                          2    6108
6                          1    1035

  assetpersonal   count
0             0  638628
1             1   46587

  addrcurrentdeedmailing   count
0                      0  431307
1                   [-1]  131635
2                      1  122273

  addrprevioussubjectowned   count
0                        1  386644
1                     [-1]  242275
2                        3   48292
3                        2    8004

  addrinputphoneservice   count
0                     0  588952
1                     1   94116
2                  [-1]    2147

  assetownership   count
0              1  360916
1              0  324299

  educationevidence   count
0                 0  577557
1                 1  107658

  educationprogramattended   count
0                        0  605206
1                        2   59905
2                        1   20061
3                        3      43

  businessassociation   count
0                   0  613259
1                   1   71956

  shorttermloanrequest12month   count
0                           0  684991
1                           1     224

  alertregulatorycondition   count
0                        1  648370
1                        2   36845

  assetprop   count
0         1  352389
1         0  332826

  subjectnewestrecord12month   count
0                          1  676467
1                          0    8748

  assetpropnewestmortgagetype   count
0                        [-1]  410554
1                           0  261226
2                           2    8590
3                           1    4845

  addrinputproblems   count
0                 0  650663
1                 2   28442
2                 1    3105
3              [-1]    2147
4                 4     459
5                 3     399

  addronfilecollege   count
0                 0  676357
1                 1    8858

  bankruptcystatus   count
0                0  648409
1                1   33203
2                2    3175
3             [-1]     428

  addrinputdeedmailing   count
0                    0  428330
1                 [-1]  145774
2                    1  111111

  proflictypecategory   count
0                [-1]  638472
1                   2   13528
2                   3   11890
3                   1    8998
4                   0    6503
5                   4    3426
6                   5    2398

  shorttermloanrequest   count
0                    0  682745
1                    1    2470

  bankruptcychapter   count
0                 0  648409
1                 1   28211
2                 2    8572
3              [-1]      23

  addrcurrentphoneservice   count
0                       0  591099
1                       1   94116

  shorttermloanrequest24month   count
0                           0  684741
1                           1     474

  sourcevoterregistration   count
0                       0  477652
1                       1  207563

  inquirycollections12month   count
0                         0  681146
1                         1    4069

  inquirybanking12month   count
0                     0  548796
1                     1  136419

  inquiryshortterm12month   count
0                       0  654816
1                       1   30399

  addrcurrentsubjectowned   count
0                       0  294416
1                       1  259164
2                    [-1]  131635

In [47]:
print(binned_df['bankruptcychapter'].value_counts(dropna= False))
print(binned_df_holdout['bankruptcychapter'].value_counts(dropna= False))
print(binned_df_oot['bankruptcychapter'].value_counts(dropna= False))
print(binned_df_ttd['bankruptcychapter'].value_counts(dropna= False))

bankruptcychapter
0       141943
1         3731
2         1178
[-1]         3
Name: count, dtype: int64
bankruptcychapter
0    60829
1     1590
2      519
Name: count, dtype: int64
bankruptcychapter
0       35903
1         916
2         301
[-1]        1
Name: count, dtype: int64
bankruptcychapter
0       648409
1        28211
2         8572
[-1]        23
Name: count, dtype: int64

In [48]:
path_mono

'/root/Unified_LN_V2/LN_Auto_V2/Model_Data/Without_LDA_Auto_LN_V2/Mono_Data/'

In [49]:
# binned_df.to_csv(f'{path_mono}3_Auto_Train_Binned_Data_260324.csv', index= False)
# binned_df_holdout.to_csv(f'{path_mono}3_Auto_Test_Binned_Data_260324.csv', index= False)
# binned_df_oot.to_csv(f'{path_mono}3_Auto_Oot_Binned_Data_260324.csv', index= False)
# binned_df_ttd.to_csv(f'{path_mono}3_Auto_Ttd_Binned_Data_260324.csv', index= False)